<section class="about">
    <div class="container about__container">
        <div class="about__description-container">
          <h2 class="about__header">
            <span class="about__header-text about__header-text--large">X-Guide — это</span>
            <span class="about__header-text about__header-text--small">команда опытных гидов и фотографов</span>
          </h2>
          <p class="about__text">Команда XGuide состоит из лучших в мире профессиональных гидов в своей сфере. Мы ручаемся за их опыт, чтобы увеличить ваши шансы на успех. Команда XGuide состоит из лучших 
          в мире профессиональных гидов в своей сфере. Мы ручаемся за их опыт, чтобы увеличить ваши шансы на успех
          </p>
          <a href="#" class="link--button about__link">
              <span class="link--button__text link--button__text--bg">Подробнее о компании</span>
              <span class="link--button__text link--button__text--for">Подробнее о компании</span>
          </a>
        </div>
        <div class="about__video-container">
          <img class="about__video-bg" src="./img/bg-shape.png" alt="bg-shape">
          <a href="#" class="about__video-preview">
            <img class="about__video" src="./img/about-video.jpg" alt="about video">
            <div class="about__video-preview-mask">
            </div>
            <div class="about__video-play-button">
              {{> play-button }}
            </div>
          </a>
        </div>
    </div>
</section>