<section class="accordion">
    <div class="container accordion__container">
        <div class="accordion__item">
          <h3 class="accordion__item-header">СПОРТ-МАРАФОН: КРУПНЕЙШИЙ ТУРИСТИЧЕСКИЙ И ГОРНОЛЫЖНЫЙ МАГАЗИН МОСКВЫ. САЙКИНА 4
          </h3>
          <p class="accordion__item-text">Вы можете подумать, что Спорт-Марафон – это просто очередной спортивно-туристический магазин в Москве, и будете неправы. Мы действительно продаем одежду и экипировку для горных лыж и сноуборда, а также палатки, спальники, рюкзаки и другие товары для активного отдыха на природе. Но на этом наше сходство с другими магазинами заканчивается.  Мы – другие! Вы можете подумать, что Спорт-Марафон – это просто очередной спортивно-туристический магазин в Москве, и будете неправы. Мы действительно продаем одежду и экипировку для горных лыж и сноуборда, а также палатки, спальники, рюкзаки и другие товары для активного отдыха  на природе. Но на этом наше сходство с другими магазинами заканчивается. Мы – другие!
          </p>

          <p class="accordion__item-text accordion__item-text--hidden js-accordion-content">Вы можете подумать, что Спорт-Марафон – это просто очередной спортивно-туристический магазин в Москве, и будете неправы. Мы действительно продаем одежду и экипировку для горных лыж и сноуборда, а также палатки, спальники, рюкзаки и другие товары для активного отдыха на природе. Но на этом наше сходство с другими магазинами заканчивается.  Мы – другие! Вы можете подумать, что Спорт-Марафон – это просто очередной спортивно-туристический магазин в Москве, и будете неправы. Мы действительно продаем одежду и экипировку для горных лыж и сноуборда, а также палатки, спальники, рюкзаки и другие товары для активного отдыха  на природе. Но на этом наше сходство с другими магазинами заканчивается. Мы – другие!
          </p>

          <button class="accordion__item-button js-accordion-btn">
            <span class="accordion__item-button-text accordion__item-button-text--open">Развернуть</span>
            <span class="accordion__item-button-text accordion__item-button-text--close">Свернуть</span>
            <svg class="accordion__item-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#icon-chevron"/>
            </svg>
          </button>
        </div>
    </div>
</section>