<section class="advantages">
  <div class="container advantages__container">
    <div class="advantages__left-col">
      <div class="advantages__advantage">
        <h3 class="advantages__advantage-header">В чем наши преимущества?
        </h3>
        <ul>
          <li class="advantages__advantage-list-item">Мы собрали лучших гидов и тренеров со&nbsp;всех уголков Земли.
          </li>
          <li class="advantages__advantage-list-item">Каждый член нашей команды - профессионал международного уровня и имеет за спиной огромный стаж работы, это позволяет нам держать сервис и безопасность на высоком уровне.
          </li>
        </ul>
      </div>
      <div class="advantages__advantage">
        <h3 class="advantages__advantage-header">Прозрачные цены
        </h3>
        <ul>
          <li class="advantages__advantage-list-item">Мы хотим, чтобы ваш отдых был максимально комфортным, поэтому цены на услуги абсолютно прозрачные.
          </li>
          <li class="advantages__advantage-list-item">Путешествуя с нами, вы получаете полный отчет о предстоящих расходах
          </li>
        </ul>
      </div>
    </div>
    <div class="advantages__right-col">
      <div class="advantages__advantage-info">
        <p class="advantages__advantage-info-text-top">Провели туры
        </p>
        <p class="advantages__advantage-info-text-bottom">
          в 20
          <span>странах <br>мира</span>
        </p>
      </div>

      <div class="advantages__advantage-info">
        <p class="advantages__advantage-info-text-top">Составили более
        </p>
        <p class="advantages__advantage-info-text-bottom">
          70
          <span>уникальных <br>маршрутов</span>
        </p>
      </div>
    </div>
  </div>
</section>