<section class="blog">
    <div class="container blog__container">
        <h3 class="blog__header">блог
        </h3>
        <div class="blog__grid">
          <a href="#" class="blog__item">
            <img class="blog__item-bg" src="./img/blog__item-1.jpg" alt="item bg">
            <div class="blog__bg-mask">
            </div>
            <div class="blog__item-info-label">
              <span class="blog__item-info-labelContent">Восхождение</span>
            </div>
            <div class="blog__item-contentContainer">
              <div class="blog__item-content">
                <p class="blog__item-header">Как выбрать треккинговые ботинки?
                </p>
                <p class="blog__item-text">
                  Учимся выбирать самый ответственный элемент снаряжения в пешем походе — треккинговую обувь
                </p>
              </div>
              <div class="blog__item-author-info">
                <img class="blog__item-author-img" src="./img/author-avatar.jpg" alt="author">
                <p class="blog__item-author-name">Александр Иванов
                </p>
              </div>
            </div>
          </a>
          <a href="#" class="blog__item">
            <img class="blog__item-bg" src="./img/blog__item-2.jpg" alt="item bg">
            <div class="blog__bg-mask">
            </div>
            <div class="blog__item-info-label">
              <span class="blog__item-info-labelContent">Восхождение</span>
            </div>
            <div class="blog__item-contentContainer">
              <div class="blog__item-content">
                <p class="blog__item-header">Как выбрать треккинговые ботинки?
                </p>
              </div>

              <div class="blog__item-author-info">
                <img class="blog__item-author-img" src="./img/author-avatar.jpg" alt="author">
                <p class="blog__item-author-name">Александр Иванов
                </p>
              </div>
            </div>
          </a>
          <a href="#" class="blog__item">
            <img class="blog__item-bg" src="./img/blog__item-3.jpg" alt="item bg">
            <div class="blog__bg-mask">
            </div>
            <div class="blog__item-info-label">
              <span class="blog__item-info-labelContent"></span>
            </div>
            <div class="blog__item-contentContainer">
              <div class="blog__item-content">
                <p class="blog__item-header">
                  Как выбрать треккинговые кроссовки?
                </p>
              </div>

              <div class="blog__item-author-info">
                <img class="blog__item-author-img" src="./img/author-avatar.jpg" alt="author">
                <p class="blog__item-author-name">Александр Иванов
                </p>
              </div>
            </div>
          </a>
          <a href="#" class="blog__item">
            <img class="blog__item-bg" src="./img/blog__item-4.jpg" alt="item bg">
            <div class="blog__bg-mask">
            </div>
            <div class="blog__item-info-label">
              <span class="blog__item-info-labelContent"></span>
            </div>
            <div class="blog__item-contentContainer">
              <div class="blog__item-content">
                <p class="blog__item-header">Как выбрать треккинговые кроссовки?
                </p>
              </div>

              <div class="blog__item-author-info">
                <img class="blog__item-author-img" src="./img/author-avatar.jpg" alt="author">
                <p class="blog__item-author-name">Александр Иванов
                </p>
              </div>
            </div>
          </a>
          <a href="#" class="blog__item">
            <img class="blog__item-bg" src="./img/blog__item-3.jpg" alt="item bg">
            <div class="blog__bg-mask">
            </div>
            <div class="blog__item-info-label">
              <span class="blog__item-info-labelContent"></span>
            </div>
            <div class="blog__item-contentContainer">
              <div class="blog__item-content">
                <p class="blog__item-header">Как выбрать кроссовки для трекинга?
                </p>
              </div>

              <div class="blog__item-author-info">
                <img class="blog__item-author-img" src="./img/author-avatar.jpg" alt="author">
                <p class="blog__item-author-name">Александр Иванов
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="blog__bottom-row">
          <div class="blog__form-container">
            <h3 class="blog__form-header">Подпишитесь на нашу рассылку и будьте в курсе всех новостей!
            </h3>

            <form action="/" method="POST" class="blog__form" data-need-validation="">
              <div class="blog__form-group">
                <input id="email-input" type="email" class="blog__form-input" placeholder="Введите адрес эл. почты" required>
                
              </div>

              <button type="submit" class="blog__form-submit">
                <svg class="blog__form-submit-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#arrow"/>
                </svg>
              </button>
            </form>
          </div>

          <div class="blog__link-container">
            <a href="#" class="link--button">
              <span class="link--button__text link--button__text--bg">Все статьи</span>
              <span class="link--button__text link--button__text--for">Все статьи</span>
            </a>
          </div>
        </div>
        
    </div>
</section>