<section class="choose-section">
  <div class="container choose-section__container js-accordion">
    <div class="js-accordion-item">
      <div class="choose-section__top-row">
        <h2 class="choose-section__header">Выберите тему
        </h2>
        <div class="choose-section__right-column">
          <div class="choose-section__selected-tag">
            <span>#Альпинизм</span>
            <a class="choose-section__selected-tag-link" href="#"><span class="visually-hidden">Очистить фильтр</span></a>
          </div>
          <button class="choose-section__button js-accordion-btn">
            <span>Все теги</span>
            <svg class="choose-section__button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#icon-chevron--thin"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="choose-section__accordion-content js-accordion-content">
        <ul class="choose-section__tags-list">
          {{#each Tags }}
          <li class="choose-section__tag"><a href="#">
            {{ this.text }}
            <span class="choose-section__number-label">
              {{ this.number }}
            </span>
          </a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>