<section class="concept">
  <div class="container concept__container">
    <img class="concept__bg-shape" src="./img/bg-shape.png">
    <h2 class="concept__header">Наша концепция
    </h3>
    <ul class="concept__list">
      <li class="concept__list-item">Наши гиды - спасатели международного уровня.
      </li>
      <li class="concept__list-item">Мы работаем официально, заключаем договор с каждым туристом.
      </li>
      <li class="concept__list-item">Каждый год мы организовываем программу по повышению квалификации для всех членов команды.
      </li>
      <li class="concept__list-item">Мы не устанавливаем низкие цены на туры, потому что включаем в стоимость все возможные расходы и самое надежное оборудование.
      </li>
    </ul>
  </div>
</section>