<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__content-row">
      <div class="contacts__content-left-col">
        <h2 class="contacts__header">Контакты
        </h2>
        <p class="contacts__text contacts__text--bold">Неважно, из какого вы города, региона или страны.
        </p>
        <p class="contacts__text">Мы организуем восхождения для людей со всего Мира. Вы можете позвонить нам по номеру, который указан ниже или оставить заявку, наш менеджер перезвонит Вам в ближайшее время.
        </p>

        <div class="contacts__form-content js-submit-message">
          <form action="/" method="POST" class="form-section__form" data-need-validation="">
            <h2 class="form-section__form-heading">Свяжитесь с нами</h2>

            <div class="form-section__form-group">
              <input id="name" type="text" class="form-section__form-input" name="name" placeholder="Ваше имя" required>
              <label for="name" class="form-section__form-label">
                <span class="form-section__form-label-text">Ваше имя</span>
              </label>
            </div>

            <div class="form-section__form-group">
              <input id="message" type="text" class="form-section__form-input" name="message" placeholder="Сообщение">
              <label for="message" class="form-section__form-label">
                <span class="form-section__form-label-text">Сообщение</span>
              </label>
            </div>

            <div class="form-section__form-group">
              <select id="communication-way" name="" class="js-selects-for-choices">
                <option value="" selected=""></option>
                <option value="phone">Позвонить на телефон</option>
                <option value="Viber">Написать в Viber</option>
                <option value="WhatsApp">Написать в WhatsApp</option>
                <option value="Telegram">Написать в Telegram</option>
                <option value="email">Написать на почту</option>
              </select>  
              <svg class="selects__choices-input-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use href="#icon-chevron--thin"/>
              </svg>
              <label for="communication-way" class="form-section__form-label">
                <span class="form-section__form-label-text">Удобный способ связи</span>
              </label>
            </div>

            <div class="form-section__form-group">
              <label for="policy" class="form-section__form-checkbox">
                <input id="policy" type="checkbox" name="policy" class="form-section__form-checkbox-input" checked required>
                <span class="form-section__form-checkbox-mark">
                </span>
                <div class="form-section__form-checkbox-text">
                  Даю согласие на обработку персональных данных
                </div>
              </label>
            </div>

            <div class="form-section__form-group">
              <input id="phone-number-input" type="tel" class="form-section__form-input js-phone-input" name="phone" placeholder="Телефон" data-parsley-phone required>
              <label for="phone-number-input" class="form-section__form-label">
                <span class="form-section__form-label-text">Телефон</span>
              </label>
            </div>

            <div class="form-section__form-group">
              <button type="submit" class="link--button form-section__submit">
                <span class="link--button__text link--button__text--bg">Отправить</span>
                <span class="link--button__text link--button__text--for">Отправить</span>
              </button>
            </div>
          </form>

          <div class="form-section__form-modal form-modal--hidden">
            <h3 class="form-section__form-modal-header">Спасибо! Ваша заявка отправлена!
            </h3>
            <p class="form-section__form-modal-text">Наши специалисты свяжутся с Вами после обработки заявки
            </p>
          </div>
        </div>
      </div>

      <div class="contacts__content-right-col">
        <a class="contacts__link--tel" href="tel:+79991550470">
          8 (999) 155-04-70
        </a>
        <a class="contacts__link--email" href="mailto:team@x-guide.ru">
          team@x-guide.ru
        </a>
        <p class="contacts__opening-hours">
          Работаем: без выходных до 21:00
        </p>

        <h4 class="contacts__social-links-header">Соцсети
        </h4>
        <ul class="contacts__social-links">
          <li>
            <a href="#" class="contacts__social-links-link">
              <svg class="contacts__social-links-link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#fb"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="contacts__social-links-link">
              <svg class="contacts__social-links-link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#instagram"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="contacts__social-links-link">
              <svg class="contacts__social-links-link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#vk"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="contacts__social-links-link">
              <svg class="contacts__social-links-link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#youtube"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>