<footer class="page-footer">
  <div class="container footer__container">
    <div class="footer__nav">
      <div class="logo">
        <a href="#" class="logo__link footer__logo-link">
          <svg class="logo__link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#logo-icon"/>
          </svg>
          <svg class="logo__link-text" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#logo-text"/>
          </svg>
        </a>
      </div>

      <div class="nav-links">
        <a href="#" class="nav-links-link">
          Направления
        </a>
        <a href="#" class="nav-links-link">
          Туры
        </a>
        <a href="#" class="nav-links-link">
          Школы
        </a>
        <a href="#" class="nav-links-link">
          Регионы
        </a>
        <a href="#" class="nav-links-link">
          Пошаговая подготовка
        </a>
        <a href="#" class="nav-links-link">
          Сообщество
        </a>
        <a href="#" class="nav-links-link">
          О нас
        </a>
      </div>

      <div class="phone-number footer__phone-number">
        <a href="tel:+78009833838" class="phone-number__phone-link">8 800 983 38 38</a>
      </div>
    </div>

    <div class="page-footer__bottom-panel-bottom-row">
      <div>
        <span class="page-footer__bottom-panel-copyright">
          © 2020
        </span>
        <a href="#" class="page-footer__bottom-panel-link">
            Политика конфиденциальности
        </a>
      </div>
      <a href="#" class="page-footer__made-by">
          Создание сайта
          <img src="img/mark-weber-logo.svg" alt="Логотип Mark Weber" class="page-footer__made-by-image">
      </a>

      <div class="page-footer__socials">
        <a href="#" class="page-footer__socials-link">
          <svg class="page-footer__socials-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#fb"/>
          </svg>
        </a>
        <a href="#" class="page-footer__socials-link">
          <svg class="page-footer__socials-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#instagram"/>
          </svg>
        </a>
        <a href="#" class="page-footer__socials-link">
          <svg class="page-footer__socials-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#vk"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>