<section class="form-section">
  <img class="form-section__bg" src="./img/form-section-bg.webp" alt="form-section background">
  <div class="container form-section__container">
    {{!-- <div class="form-section__headers-container">
      <h3 class="form-section__header">Остались вопросы? Получите нашу консультацию
      </h3>
      <p class="form-section__header-description">Оставьте ваши контактные данные, и мы ответим на все ваши вопросы и расскажем о подробностях туров
      </p>
    </div>
    <div class="form-section__form-container">

    </div> --}}
    <div class="contacts__form-row">
      <div class="contacts__form-col">
        <h3 class="form-section__header">Остались вопросы? Получите нашу консультацию
        </h3>
        <p class="form-section__header-description">Оставьте ваши контактные данные, и мы ответим на все ваши вопросы и расскажем о подробностях туров
        </p>
      </div>
      <div class="contacts__form-col">
        <div class="contacts__form-content">
          <img class="contacts__form-bg" src="./img/bg-shape.png" alt="bg-shape">
          <form action="/" method="POST" class="franchise-contact__form" data-need-validation="">
            <h2 class="contacts__form-heading">
              Заявка на консультацию
            </h2>
            <div class="franchise-contact__form-group">
              <input type="tel" class="franchise-contact__form-input js-phone-input" placeholder="Телефон" data-parsley-phone required>
            </div>
            <div class="franchise-contact__form-group">
              <textarea class="franchise-contact__form-input" placeholder="Пожелания к туру"></textarea>
            </div>
            <div class="franchise-contact__form-group">
              <button type="submit" class="link--button form__submit">
                <span class="link--button__text link--button__text--bg">Отправить</span>
                <span class="link--button__text link--button__text--for">Отправить</span>
              </button>
            </div>
            <div class="franchise-contact__form-group">
              <label class="franchise-contact__form-checkbox">
                <input type="checkbox" name="policy" class="franchise-contact__form-checkbox-input" checked required>
                <span class="franchise-contact__form-checkbox-mark">
                </span>
                <div class="franchise-contact__form-checkbox-text">
                  Даю согласие на обработку персональных данных
                </div>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>