<section class="form-section">
  <picture>
    <source type="image/webp" media="(min-width: 1024px)" srcset="./img/form-section-bg-crop.webp">
    <source media="(max-width: 767px)" srcset="./img/form-section-bg-crop-768.png">
    <img class="form-section__bg" src="./img/form-section-bg-crop.png" alt="form-section background">
  </picture>
  <div class="container form-section__container">
    <div class="form-section__form-row">
      <div class="form-section__form-col">
        <h3 class="form-section__header">Остались вопросы? Получите нашу консультацию
        </h3>
        <p class="form-section__header-description">Оставьте ваши контактные данные, и мы ответим на все ваши вопросы и расскажем о подробностях туров
        </p>
      </div>
      <div class="form-section__form-col">
        <div class="form-section__form-content">
          <img class="form-section__form-bg" src="./img/bg-shape.png" alt="bg-shape">
          <form action="/" method="POST" class="form-section__form" data-need-validation="">
            <h2 class="form-section__form-heading">
              Заявка на консультацию
            </h2>
            <div class="form-section__form-group">
              <input type="tel" class="form-section__form-input js-phone-input" placeholder="Телефон" data-parsley-phone required>
            </div>
            <div class="form-section__form-group">
              <textarea class="form-section__form-input" placeholder="Пожелания к туру"></textarea>
            </div>
            <div class="form-section__form-group">
              <button type="submit" class="link--button form-section__submit">
                <span class="link--button__text link--button__text--bg">Отправить</span>
                <span class="link--button__text link--button__text--for">Отправить</span>
              </button>
            </div>
            <div class="form-section__form-group">
              <label class="form-section__form-checkbox">
                <input type="checkbox" name="policy" class="form-section__form-checkbox-input" checked required>
                <span class="form-section__form-checkbox-mark">
                </span>
                <div class="form-section__form-checkbox-text">
                  Даю согласие на обработку персональных данных
                </div>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>