<section class="from-guide">
  <div class="container from-guide__container">
    <h3 class="from-guide__header">Видео про Ильдара
    </h3>

    <div class="from-guide__video">
      <img class="from-guide__video-img" src="./img/from-guide__video-1--2x.jpg" alt="video bg">
      <div class="from-guide__video-play-button">
        {{> play-button }}
      </div>
      <button class="about__item-video-modal-button js-video-modal-button" data-video-id="CNpqVWhgdZs" data-video-img-src="./img/about-video.jpg">
      </button>
    </div>

    <h3 class="from-guide__header">Статьи от Ильдара
    </h3>

    <div class="grid-guide-blog-container">
      <div class="grid-guide-blog">
        {{#each Blog }}
          <div class="grid-guide-blog__item">
            <div class="grid-guide-blog__item-photo-cotainer">
              <img class="grid-guide-blog__item-img" src={{ this }} alt="">
              <div class="gallery__item-info-label">
                <span class="gallery__item-info-labelContent">Восхождение</span>
              </div>
              <button class="grid-guide-blog__favorites-button">
                <svg class="grid-guide-blog__favorites-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#favorites-icon"/>
                </svg>
              </button>
            </div>

            <div class="grid-guide-blog__item-content">
              <p class="grid-guide-blog__item-date">09.09.2020
              </p>
              <h4 class="grid-guide-blog__item-header">Как выбрать треккинговые ботинки?
              </h4>
              <p class="grid-guide-blog__item-text">Учимся выбирать самый ответственный элемент снаряжения в пешем походе — треккинговую обувь
              </p>
              <p class="grid-guide-blog__item-autor">Александр Иванов
              </p>
            </div>

            <a class="grid-guide-blog__item-link" href="#">
            </a>
          </div>
        {{/each }}
      </div>
      <div class="grid-guide-blog__link-container">
        <a href="#" class="link--button">
          <span class="link--button__text link--button__text--bg">Все статьи Ильдара</span>
          <span class="link--button__text link--button__text--for">Все статьи Ильдара</span>
        </a>
      </div>
    </div>

    <h3 class="from-guide__header">Фото и видео с&nbsp;Ильдаром
    </h3>

    <div class="js-gallery-slider">
      <div class="swiper-container grid-guide-media-container">
        <div class="swiper-wrapper grid-guide-media">
          <div class="swiper-slide grid-guide-media__item">
            <div class="gallery__item">
              <div class="gallery__item-bg-wrapper">
                <img class="gallery__item-bg" src="./img/gallery__item-1.jpg" alt="item bg">
                <div class="gallery__item-bg-mask">
                </div>
              </div>
              
              <div class="gallery__item-info-label">
                <span class="gallery__item-info-labelContent">5:30</span>
              </div>
              <div class="gallery__item-contentContainer">
                <div class="gallery__item-content">
                  <p class="gallery__item-date">09.09.20
                  </p>
                  <p class="gallery__item-header">Восхождение на эльбрус
                  </p>
                </div>
                <div class="gallery__item-play-button">
                  {{> play-button }}
                </div>
              </div>
              <button class="gallery__item-video-modal-button js-video-modal-button" data-video-id="CNpqVWhgdZs"
              data-video-img-src="./img/gallery__item-1.jpg">
              </button>
            </div>
          </div>
          <div class="swiper-slide grid-guide-media__item">
            <div class="gallery__item">
              <div class="gallery__item-bg-wrapper">
                <img class="gallery__item-bg" src="./img/gallery__item-2.jpg" alt="item bg">
                <div class="gallery__item-bg-mask">
                </div>
              </div>
              <div class="gallery__item-info-label">
                <span class="gallery__item-info-labelContent">20 фото</span>
              </div>
              <div class="gallery__item-contentContainer">
                <div class="gallery__item-content">
                  <p class="gallery__item-date">09.09.20
                  </p>
                  <p class="gallery__item-header">Восхождение на Непал
                  </p>
                </div>
              </div>
              <a class="gallery__item-link" href="#"></a>
            </div>
          </div>
          <div class="swiper-slide grid-guide-media__item">
            <div class="gallery__item">
              <div class="gallery__item-bg-wrapper">
                <img class="gallery__item-bg" src="./img/gallery__item-3.jpg" alt="item bg">
                <div class="gallery__item-bg-mask">
                </div>
              </div>
              <div class="gallery__item-info-label">
                <span class="gallery__item-info-labelContent">20 фото</span>
              </div>
              <div class="gallery__item-contentContainer">
                <div class="gallery__item-content">
                  <p class="gallery__item-date">09.09.20
                  </p>
                  <p class="gallery__item-header">Восхождение на Казбек
                  </p>
                </div>
              </div>
              <a class="gallery__item-link" href="#"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-guide-media__link-container">
        <a href="#" class="link--button">
          <span class="link--button__text link--button__text--bg">Все фотоотчеты</span>
          <span class="link--button__text link--button__text--for">Все фотоотчеты</span>
        </a>
      </div>
    </div>
  </div>
</section>