<section class="gallery-reviews">
    <div class="container gallery-reviews__container">

      <h3 class="gallery-reviews__header">Галерея</h3>
      <div class="gallery__grid">
        <a href="#" class="gallery__item">
          <img class="gallery__item-bg" src="./img/gallery__item-1.jpg" alt="item bg">
          <div class="gallery__item-info-label">
            <span class="gallery__item-info-labelContent">5:30</span>
          </div>
          <div class="gallery__item-contentContainer">
            <div class="gallery__item-content">
              <p class="gallery__item-date">09.09.20
              </p>
              <p class="gallery__item-header">Восхождение на эльбрус
              </p>
            </div>
            <div class="gallery__item-play-button">
              <svg class="play-button" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle class="play-button__cirlce" opacity="0.2" cx="53" cy="53" r="53" fill="white"/>
                <circle class="play-button__cirlce" opacity="0.9" cx="53.0015" cy="52.9995" r="34.6538" fill="white"/>
                <path class="play-button__triangle" d="M64.3147 52.2333C64.7905 52.6329 64.7905 53.3653 64.3147 53.7649L50.0523 65.7421C49.4017 66.2885 48.4093 65.826 48.4093 64.9763L48.4093 41.0219C48.4093 40.1722 49.4017 39.7097 50.0524 40.2561L64.3147 52.2333Z" fill="#12214D"/>
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="gallery__item">
          <img class="gallery__item-bg" src="./img/gallery__item-2.jpg" alt="item bg">
          <div class="gallery__item-info-label">
            <span class="gallery__item-info-labelContent">20 фото</span>
          </div>
          <div class="gallery__item-contentContainer">
            <div class="gallery__item-content">
              <p class="gallery__item-date">09.09.20
              </p>
              <p class="gallery__item-header">Восхождение на Непал
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="gallery__item">
          <img class="gallery__item-bg" src="./img/gallery__item-3.jpg" alt="item bg">
          <div class="gallery__item-info-label">
            <span class="gallery__item-info-labelContent">20 фото</span>
          </div>
          <div class="gallery__item-contentContainer">
            <div class="gallery__item-content">
              <p class="gallery__item-date">09.09.20
              </p>
              <p class="gallery__item-header">Восхождение на Казбек
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="gallery__item">
          <img class="gallery__item-bg" src="./img/gallery__item-1.jpg" alt="item bg">
          <div class="gallery__item-info-label">
            <span class="gallery__item-info-labelContent">5:30</span>
          </div>
          <div class="gallery__item-contentContainer">
            <div class="gallery__item-content">
              <p class="gallery__item-date">09.09.20
              </p>
              <p class="gallery__item-header">Восхождение на Эльбрус
              </p>
            </div>
            <div class="gallery__item-play-button">
              <svg class="play-button" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle class="play-button__cirlce" opacity="0.2" cx="53" cy="53" r="53" fill="white"/>
                <circle class="play-button__cirlce" opacity="0.9" cx="53.0015" cy="52.9995" r="34.6538" fill="white"/>
                <path class="play-button__triangle" d="M64.3147 52.2333C64.7905 52.6329 64.7905 53.3653 64.3147 53.7649L50.0523 65.7421C49.4017 66.2885 48.4093 65.826 48.4093 64.9763L48.4093 41.0219C48.4093 40.1722 49.4017 39.7097 50.0524 40.2561L64.3147 52.2333Z" fill="#12214D"/>
              </svg>
            </div>
          </div>
        </a>
      </div>
      <div class="gallery-reviews__link-container gallery__link-container">
        <a href="#" class="link--button">
          <span class="link--button__text link--button__text--bg">Все фотоотчеты</span>
          <span class="link--button__text link--button__text--for">Все фотоотчеты</span>
        </a>
      </div>


      <h3 class="gallery-reviews__header reviews__header">Отзывы</h3>
      <div class="reviews__grid js-reviews-slider"> 
        <div class="swiper-container reviews__slider">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="reviews__slider-item slider__item">
                  <img class="slider__item-bg-img" src="./img/review-img-1.webp" alt="review-img">
                  <div class="slider__item-bg-gradient"></div>
                  <div class="slider__item-content">
                    <svg class="reviews__slider-item-quotes-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use href="#quotes"/>
                    </svg>
                    <h3 class="reviews__slider-item-header">Земля круглая,Вселенная огромна, а восхождение на Эльбрус никого не оставляет ...
                    </h3>
                    <a href="#" class="reviews__slider-item-author-link">
                      <svg class="reviews__slider-item-author-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use href="#instagram"/>
                      </svg>
                      <span class="reviews__slider-item-author-name">Рустем Биктагиров</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="reviews__slider-item slider__item">
                  <img class="slider__item-bg-img" src="./img/gallery__item-2.jpg" alt="review-img">
                  <div class="slider__item-bg-gradient"></div>
                  <div class="slider__item-content">
                    <svg class="reviews__slider-item-quotes-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use href="#quotes"/>
                    </svg>
                    <h3 class="reviews__slider-item-header">КРУПНЕЙШИЙ ТУРИСТИЧЕСКИЙ И ГОРНОЛЫЖНЫЙ МАГАЗИН ...
                    </h3>
                    <a href="#" class="reviews__slider-item-author-link">
                      <svg class="reviews__slider-item-author-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use href="#instagram"/>
                      </svg>
                      <span class="reviews__slider-item-author-name">Александр Иванов</span>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="reviews__slider-nav-buttons-container">
          <button class="slider__nav-button slider__nav-button--prev">
            <div class="slider__nav-button-bg">
            </div>
            <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#arrow-next"/>
            </svg>
          </button>
          <button class="slider__nav-button slider__nav-button--next">
            <div class="slider__nav-button-bg">
            </div>
            <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#arrow-next"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="gallery-reviews__link-container reviews__link-container">
        <a href="#" class="link--button">
          <span class="link--button__text link--button__text--bg">Все фотоотчеты</span>
          <span class="link--button__text link--button__text--for">Все фотоотчеты</span>
        </a>
      </div>
    </div>
</section>