<section class="gallery-reviews">
    <div class="container gallery-reviews__container">
        <div class="gallery">
          <h3 class="gallery-reviews__header">Галерея</h3>
          <div class="gallery__grid">
            <a href="#" class="gallery__item">
              <img class="gallery__item-bg" src="./img/gallery__item-1.jpg" alt="item bg">
              <div class="gallery__item-info-label">
                <span class="gallery__item-info-labelContent">5:30</span>
              </div>
              <p class="gallery__item-date">09.09.20
              </p>
              <p class="gallery__item-header">Восхождение на  эльбрус
              </p>
            </a>
            <a href="#" class="gallery__item">
              <img class="gallery__item-bg" src="./img/gallery__item-2.jpg" alt="item bg">
              <div class="gallery__item-info-label">
                <span class="gallery__item-info-labelContent">20 фото</span>
              </div>
              <p class="gallery__item-date">09.09.20
              </p>
              <p class="gallery__item-header">Восхождение на Непал
              </p>
            </a>
            <a href="#" class="gallery__item">
              <img class="gallery__item-bg" src="./img/gallery__item-3.jpg" alt="item bg">
              <div class="gallery__item-info-label">
                <span class="gallery__item-info-labelContent">20 фото</span>
              </div>
              <p class="gallery__item-date">09.09.20
              </p>
              <p class="gallery__item-header">Восхождение на Казбек
              </p>
            </a>
            <a href="#" class="gallery__item">
              <img class="gallery__item-bg" src="./img/gallery__item-1.jpg" alt="item bg">
              <div class="gallery__item-info-label">
                <span class="gallery__item-info-labelContent">5:30</span>
              </div>
              <p class="gallery__item-date">09.09.20
              </p>
              <p class="gallery__item-header">Восхождение на  эльбрус
              </p>
            </a>
          </div>
          <div class="gallery-reviews__link-container">
            <a href="#" class="link--button about__link">Все фотоотчеты</a>
          </div>
        </div>
        <div class="reviews">
          
        </div>
    </div>
</section>