<section class="grid-catalog">
  <div class="container grid-catalog__container">
    {{!-- шрифт менять только у блока .sort целиком--}}
    <div class="sort js-accordion">
      <div class="sort__select-container js-accordion-item">
        <span class="sort__label">Сортировать:</span>
        {{!-- <div class="sort__select js-accordion-btn">
          <div class="sort__selected-item-container">
            <span class="sort__selected-item">Все</span>
            <svg class="accordion__item-button-icon sort__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#icon-chevron"/>
            </svg>
          </div>
          
          <ul class="sort__list js-accordion-content">
            <li><a class="sort__list-item" href="#" data-not-prevent="true">Все</a></li>
            <li><a class="sort__list-item" href="#" data-not-prevent="true">По месяцу</a></li>
            <li><a class="sort__list-item" href="#" data-not-prevent="true">По региону</a></li>
            <li><a class="sort__list-item" href="#" data-not-prevent="true">По программе</a></li>
            <li><a class="sort__list-item" href="#" data-not-prevent="true">По сложности</a></li>
          </ul>
        </div> --}}

        <div class="sort__select">
          <select id="communication-way" name="" class="js-selects-for-choices">
            <option value="" selected="">Все</option>
            <option value="">По месяцу</option>
            <option value="">По региону</option>
            <option value="">По программе</option>
            <option value="">По сложности</option>
          </select>  
          <svg class="selects__choices-input-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#icon-chevron--thin"/>
          </svg>
        </div>
      </div>
    </div>
    
    <div class="">
      <div class="grid-catalog__section">
        <h3 class="grid-catalog__section-header">Январь
        </h3>
        {{!-- #each times --}}
        <div class="grid-catalog__item">
          <div class="grid-catalog__item-header-container">
            <img class="grid-catalog__item-bg-img" src="./img/catalog__item-1.jpg" alt="tour background image">
            <div class="grid-catalog__item-header-bg-gradient"></div>
            <img class="grid-catalog__item-header-soldout-label" src="./img/soldout-label.png" alt="soldout label">
            <h3 class="grid-catalog__item-header">
              {{!-- добавить возможность из админки добавлять классы с размером шрифта. 
              Либо grid-catalog__item-header-text--m , либо grid-catalog__item-header-text--l  --}}
              <div class="grid-catalog__item-header-text grid-catalog__item-header-text--l">Эльбрус</div>
              <div class="grid-catalog__item-header-text">Волшебная сказка
              </div>
            </h3>
            <span class="gallery__item-info-labelContent">Восхождения</span>
          </div>
          <div class="grid-catalog__item-content">
            <div class="grid-catalog__item-content-wrapper">
              {{!-- ограничить количество символов (100) и вставить многоточие--}}
              <p class="grid-catalog__item-description">Программа рассчитана на обычных людей, но желательна хорошая физическая форма и готовность проходить...
              </p>
              <div class="grid-catalog__item-specification">
                {{!-- Цвет индикатора сложности меняется классом: 
                grid-catalog__item-level--easy ,
                grid-catalog__item-level--medium  ,
                grid-catalog__item-level--hard --}}
                <div class="grid-catalog__item-level grid-catalog__item-level--easy">
                  <span class="grid-catalog__item-level-text">Очень просто
                  </span>
                  <div class="grid-catalog__item-info-container js-tour-info">
                    <button class="grid-catalog__item-info-click-target js-tour-info-button">
                    </button>
                    <svg class="grid-catalog__item-info-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use href="#info-icon"/>
                    </svg>
                    <div class="grid-catalog__item-info js-tour-info-modal">
                      <div class="grid-catalog__item-info-content-container">
                        <div class="grid-catalog__item-info-close-area js-tour-info-button">
                        </div>
                        <div class="grid-catalog__item-info-content">
                          <button class="grid-catalog__item-info-close-button js-tour-info-button">
                          </button>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--easy"><span>Очень просто</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Этими поездками могут пользоваться почти все. Легкая физическая нагрузка, не требующая навыков нахождения в горах и передвижения по сложному рельефу.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--medium"><span>Средней сложности</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Потребуется физическая подготовка и выносливость, специальная одежда и обувь.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--hard"><span>Сложно</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Физическая подготовка перед поездкой должна начинаться не позднее, чем за 2 месяца до начала поездки. Ведь вам предстоит путешествовать пешком и подниматься до высоты 3000 м над уровнем моря и более.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-catalog__item-level-price">
                  от
                  <span class="grid-catalog__item-level-price-amount">36 200</span>
                </div>
              </div>

              <div class="grid-catalog__item-date-select">
                {{!-- <div class="grid-catalog__item-date-select-container js-accordion-btn">
                  <div class="grid-catalog__item-date-selected">30 янв-10 фев 2021
                  </div>
                  <div class="grid-catalog__item-date-select-more">
                    <span class="grid-catalog__item-date-select-more-text">еще 12 дат</span>
                    <svg class="accordion__item-button-icon grid-catalog__item-date-select-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use href="#icon-chevron"/>
                    </svg>
                  </div>
                  <div class="grid-catalog__item-date-list-container">
                    <ul class="grid-catalog__item-date-list js-accordion-content">
                      <li><a class="grid-catalog__item-date-list-item" href="/" data-not-prevent="true">30 янв-10 фев 2021</a></li>
                      <li><a class="grid-catalog__item-date-list-item" href="#" data-not-prevent="true">30 янв-10 фев 2021</a></li>
                      <li><a class="grid-catalog__item-date-list-item" href="#" data-not-prevent="true">30 янв-10 фев 2021</a></li>
                      <li><a class="grid-catalog__item-date-list-item" href="#" data-not-prevent="true">30 янв-10 фев 2021</a></li>
                      <li><a class="grid-catalog__item-date-list-item" href="#" data-not-prevent="true">30 янв-10 фев 2021</a></li>
                      <li><a class="grid-catalog__item-date-list-item" href="#" data-not-prevent="true">30 янв-10 фев 2021</a></li>
                      <li><a class="grid-catalog__item-date-list-item" href="#" data-not-prevent="true">30 янв-10 фев 2021</a></li>
                    </ul>
                  </div>
                </div> --}}

                <select id="communication-way" name="" class="js-selects-for-choices">
                  <option value="" selected="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                </select> 
                <span class="grid-catalog__item-more-date-label">еще 12 дат</span>
                <svg class="selects__choices-input-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#icon-chevron--thin"/>
                </svg>
              </div>

              <div class="grid-catalog__item-link-wrapper">
                <div class="grid-catalog__item-link-container">
                  <a href="#" class="link--button">
                    <span class="link--button__text link--button__text--bg">Подробнее </span>
                    <span class="link--button__text link--button__text--for">Подробнее </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{!-- /each --}}




        <div class="grid-catalog__item">
          <div class="grid-catalog__item-header-container">
            <img class="grid-catalog__item-bg-img" src="./img/catalog__item-2.jpg" alt="tour background image">
            <div class="grid-catalog__item-header-bg-gradient"></div>

            <h3 class="grid-catalog__item-header">
              {{!-- добавить возможность из админки добавлять классы с размером шрифта. 
              Либо grid-catalog__item-header-text--m , либо grid-catalog__item-header-text--l  --}}
              <div class="grid-catalog__item-header-text grid-catalog__item-header-text--m">килиманджаро</div>
              <div class="grid-catalog__item-header-text">Чудесные горы 
              </div>
            </h3>
            <span class="gallery__item-info-labelContent">Восхождения</span>
          </div>
          <div class="grid-catalog__item-content">
            <div class="grid-catalog__item-content-wrapper">
              {{!-- ограничить количество символов (100) и вставить многоточие--}}
              <p class="grid-catalog__item-description">Программа рассчитана на обычных людей, но желательна хорошая физическая форма и готовность проходить...
              </p>
              <div class="grid-catalog__item-specification">
                {{!-- Цвет индикатора сложности меняется классом: 
                grid-catalog__item-level--easy ,
                grid-catalog__item-level--medium  ,
                grid-catalog__item-level--hard --}}
                <div class="grid-catalog__item-level grid-catalog__item-level--easy">
                  <span class="grid-catalog__item-level-text">Очень просто
                  </span>
                  <div class="grid-catalog__item-info-container js-tour-info">
                    <button class="grid-catalog__item-info-click-target js-tour-info-button">
                    </button>
                    <svg class="grid-catalog__item-info-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use href="#info-icon"/>
                    </svg>
                    <div class="grid-catalog__item-info js-tour-info-modal">
                      <div class="grid-catalog__item-info-content-container">
                        <div class="grid-catalog__item-info-close-area js-tour-info-button">
                        </div>
                        <div class="grid-catalog__item-info-content">
                          <button class="grid-catalog__item-info-close-button js-tour-info-button">
                          </button>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--easy"><span>Очень просто</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Этими поездками могут пользоваться почти все. Легкая физическая нагрузка, не требующая навыков нахождения в горах и передвижения по сложному рельефу.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--medium"><span>Средней сложности</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Потребуется физическая подготовка и выносливость, специальная одежда и обувь.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--hard"><span>Сложно</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Физическая подготовка перед поездкой должна начинаться не позднее, чем за 2 месяца до начала поездки. Ведь вам предстоит путешествовать пешком и подниматься до высоты 3000 м над уровнем моря и более.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-catalog__item-level-price">
                  от
                  <span class="grid-catalog__item-level-price-amount">36 200</span>
                </div>
              </div>

              <div class="grid-catalog__item-date-select">
                <select id="communication-way" name="" class="js-selects-for-choices">
                  <option value="" selected="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                </select> 
                <span class="grid-catalog__item-more-date-label">еще 12 дат</span>
                <svg class="selects__choices-input-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#icon-chevron--thin"/>
                </svg>
              </div>

              <div class="grid-catalog__item-link-wrapper">
                <div class="grid-catalog__item-link-container">
                  <a href="#" class="link--button">
                    <span class="link--button__text link--button__text--bg">Подробнее </span>
                    <span class="link--button__text link--button__text--for">Подробнее </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-catalog__item">
          <div class="grid-catalog__item-header-container">
            <img class="grid-catalog__item-bg-img" src="./img/catalog__item-3.jpg" alt="tour background image">
            <div class="grid-catalog__item-header-bg-gradient"></div>
            <img class="grid-catalog__item-header-soldout-label" src="./img/soldout-label.png" alt="soldout label">
            <h3 class="grid-catalog__item-header">
              {{!-- добавить возможность из админки добавлять классы с размером шрифта. 
              Либо grid-catalog__item-header-text--m , либо grid-catalog__item-header-text--l  --}}
              <div class="grid-catalog__item-header-text grid-catalog__item-header-text--l">Казбек</div>
              <div class="grid-catalog__item-header-text">Чудо, как хорош
              </div>
            </h3>
            <span class="gallery__item-info-labelContent">Восхождения</span>
          </div>
          <div class="grid-catalog__item-content">
            <div class="grid-catalog__item-content-wrapper">
              {{!-- ограничить количество символов --}}
              <p class="grid-catalog__item-description">Программа рассчитана на обычных людей, но желательна хорошая физическая форма и готовность проходить...
              </p>
              <div class="grid-catalog__item-specification">
                <div class="grid-catalog__item-level grid-catalog__item-level--easy">
                  <span class="grid-catalog__item-level-text">Очень просто
                  </span>
                  <div class="grid-catalog__item-info-container js-tour-info">
                    <button class="grid-catalog__item-info-click-target js-tour-info-button">
                    </button>
                    <svg class="grid-catalog__item-info-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use href="#info-icon"/>
                    </svg>
                    <div class="grid-catalog__item-info js-tour-info-modal">
                      <div class="grid-catalog__item-info-content-container">
                        <div class="grid-catalog__item-info-close-area js-tour-info-button">
                        </div>
                        <div class="grid-catalog__item-info-content">
                          <button class="grid-catalog__item-info-close-button js-tour-info-button">
                          </button>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--easy"><span>Очень просто</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Этими поездками могут пользоваться почти все. Легкая физическая нагрузка, не требующая навыков нахождения в горах и передвижения по сложному рельефу.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--medium"><span>Средней сложности</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Потребуется физическая подготовка и выносливость, специальная одежда и обувь.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--hard"><span>Сложно</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Физическая подготовка перед поездкой должна начинаться не позднее, чем за 2 месяца до начала поездки. Ведь вам предстоит путешествовать пешком и подниматься до высоты 3000 м над уровнем моря и более.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-catalog__item-level-price">
                  от
                  <span class="grid-catalog__item-level-price-amount">36 200</span>
                </div>
              </div>

              <div class="grid-catalog__item-date-select">
                <select id="communication-way" name="" class="js-selects-for-choices">
                  <option value="" selected="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                </select> 
                <span class="grid-catalog__item-more-date-label">еще 12 дат</span>
                <svg class="selects__choices-input-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#icon-chevron--thin"/>
                </svg>
              </div>

              <div class="grid-catalog__item-link-wrapper">
                <div class="grid-catalog__item-link-container">
                  <a href="#" class="link--button">
                    <span class="link--button__text link--button__text--bg">Подробнее </span>
                    <span class="link--button__text link--button__text--for">Подробнее </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-catalog__item">
          <div class="grid-catalog__item-header-container">
            <img class="grid-catalog__item-bg-img" src="./img/catalog__item-4.jpg" alt="tour background image">
            <div class="grid-catalog__item-header-bg-gradient"></div>
            <img class="grid-catalog__item-header-soldout-label" src="./img/soldout-label.png" alt="soldout label">
            <h3 class="grid-catalog__item-header">
              {{!-- добавить возможность из админки добавлять классы с размером шрифта. 
              Либо grid-catalog__item-header-text--m , либо grid-catalog__item-header-text--l  --}}
              <div class="grid-catalog__item-header-text grid-catalog__item-header-text--m">килиманджаро</div>
              <div class="grid-catalog__item-header-text">Новогодние каникулы
              </div>
            </h3>
            <span class="gallery__item-info-labelContent">Восхождения</span>
          </div>
          <div class="grid-catalog__item-content">
            <div class="grid-catalog__item-content-wrapper">
              {{!-- ограничить количество символов --}}
              <p class="grid-catalog__item-description">Программа рассчитана на обычных людей, но желательна хорошая физическая форма и готовность проходить...
              </p>
              <div class="grid-catalog__item-specification">
                <div class="grid-catalog__item-level grid-catalog__item-level--medium">
                  <span class="grid-catalog__item-level-text">Средней сложности
                  </span>
                  <div class="grid-catalog__item-info-container js-tour-info">
                    <button class="grid-catalog__item-info-click-target js-tour-info-button">
                    </button>
                    <svg class="grid-catalog__item-info-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use href="#info-icon"/>
                    </svg>
                    <div class="grid-catalog__item-info js-tour-info-modal">
                      <div class="grid-catalog__item-info-content-container">
                        <div class="grid-catalog__item-info-close-area js-tour-info-button">
                        </div>
                        <div class="grid-catalog__item-info-content">
                          <button class="grid-catalog__item-info-close-button js-tour-info-button">
                          </button>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--easy"><span>Очень просто</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Этими поездками могут пользоваться почти все. Легкая физическая нагрузка, не требующая навыков нахождения в горах и передвижения по сложному рельефу.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--medium"><span>Средней сложности</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Потребуется физическая подготовка и выносливость, специальная одежда и обувь.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--hard"><span>Сложно</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Физическая подготовка перед поездкой должна начинаться не позднее, чем за 2 месяца до начала поездки. Ведь вам предстоит путешествовать пешком и подниматься до высоты 3000 м над уровнем моря и более.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-catalog__item-level-price">
                  от
                  <span class="grid-catalog__item-level-price-amount">36 200</span>
                </div>
              </div>

              <div class="grid-catalog__item-date-select">
                <select id="communication-way" name="" class="js-selects-for-choices">
                  <option value="" selected="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                </select> 
                <span class="grid-catalog__item-more-date-label">еще 12 дат</span>
                <svg class="selects__choices-input-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#icon-chevron--thin"/>
                </svg>
              </div>

              <div class="grid-catalog__item-link-wrapper">
                <div class="grid-catalog__item-link-container">
                  <a href="#" class="link--button">
                    <span class="link--button__text link--button__text--bg">Подробнее </span>
                    <span class="link--button__text link--button__text--for">Подробнее </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-catalog__item">
          <div class="grid-catalog__item-header-container">
            <img class="grid-catalog__item-bg-img" src="./img/catalog__item-1.jpg" alt="tour background image">
            <div class="grid-catalog__item-header-bg-gradient"></div>
            <img class="grid-catalog__item-header-soldout-label" src="./img/soldout-label.png" alt="soldout label">
            <h3 class="grid-catalog__item-header">
              {{!-- добавить возможность из админки добавлять классы с размером шрифта. 
              Либо grid-catalog__item-header-text--m , либо grid-catalog__item-header-text--l  --}}
              <div class="grid-catalog__item-header-text grid-catalog__item-header-text--m">Непал<br> Айленд Пик</div>
              <div class="grid-catalog__item-header-text">Волшебная сказка
              </div>
            </h3>
            <span class="gallery__item-info-labelContent">Восхождения</span>
          </div>
          <div class="grid-catalog__item-content">
            <div class="grid-catalog__item-content-wrapper">
              {{!-- ограничить количество символов --}}
              <p class="grid-catalog__item-description">Программа рассчитана на обычных людей, но желательна хорошая физическая форма и готовность проходить...
              </p>
              <div class="grid-catalog__item-specification">
                <div class="grid-catalog__item-level grid-catalog__item-level--medium">
                  <span class="grid-catalog__item-level-text">Средней сложности
                  </span>
                  <div class="grid-catalog__item-info-container js-tour-info">
                    <button class="grid-catalog__item-info-click-target js-tour-info-button">
                    </button>
                    <svg class="grid-catalog__item-info-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use href="#info-icon"/>
                    </svg>
                    <div class="grid-catalog__item-info js-tour-info-modal">
                      <div class="grid-catalog__item-info-content-container">
                        <div class="grid-catalog__item-info-close-area js-tour-info-button">
                        </div>
                        <div class="grid-catalog__item-info-content">
                          <button class="grid-catalog__item-info-close-button js-tour-info-button">
                          </button>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--easy"><span>Очень просто</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Этими поездками могут пользоваться почти все. Легкая физическая нагрузка, не требующая навыков нахождения в горах и передвижения по сложному рельефу.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--medium"><span>Средней сложности</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Потребуется физическая подготовка и выносливость, специальная одежда и обувь.
                          </p>
                          <h4 class="grid-catalog__item-info-header grid-catalog__item-level grid-catalog__item-level--hard"><span>Сложно</span>
                          </h4>
                          <p class="grid-catalog__item-info-text">Физическая подготовка перед поездкой должна начинаться не позднее, чем за 2 месяца до начала поездки. Ведь вам предстоит путешествовать пешком и подниматься до высоты 3000 м над уровнем моря и более.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-catalog__item-level-price">
                  от
                  <span class="grid-catalog__item-level-price-amount">36 200</span>
                </div>
              </div>

              <div class="grid-catalog__item-date-select">
                <select id="communication-way" name="" class="js-selects-for-choices">
                  <option value="" selected="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                  <option value="">30 янв-10 фев 2021</option>
                </select> 
                <span class="grid-catalog__item-more-date-label">еще 12 дат</span>
                <svg class="selects__choices-input-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#icon-chevron--thin"/>
                </svg>
              </div>

              <div class="grid-catalog__item-link-wrapper">
                <div class="grid-catalog__item-link-container">
                  <a href="#" class="link--button">
                    <span class="link--button__text link--button__text--bg">Подробнее </span>
                    <span class="link--button__text link--button__text--for">Подробнее </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a class="grid-catalog__banner" href="#">
          <img class="grid-catalog__banner-img" src="./img/catalog__banner-1.jpg" alt="banner-1">
        </a>
      </div>
    </div>

    <div class="grid-catalog__link-container">
      <a href="#" class="link--button">
        <span class="link--button__text link--button__text--bg">Показать еще 25 из 91 </span>
        <span class="link--button__text link--button__text--for">Показать еще 25 из 91 </span>
      </a>
    </div>
  </div>
</section>