<section class="grid-regions">
  <div class="container grid-regions__container js-tabs">
    <div class="grid-regions__tabs-nav js-tabs-slider">
      <div class="grid-regions__tabs-nav-buttons-container">
        <button class="slider__nav-button slider__nav-button--prev">
          <div class="slider__nav-button-bg">
          </div>
          <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#arrow-next"/>
          </svg>
        </button>
        <div class="slider__nav-button-bg-mask">
        </div>
        <button class="slider__nav-button slider__nav-button--next">
          <div class="slider__nav-button-bg">
          </div>
          <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#arrow-next"/>
          </svg>
        </button>
        <div class="slider__nav-button-bg-mask slider__nav-button-bg-mask--next">
        </div>
      </div>

      <div class="swiper-container">
        <div class="swiper-wrapper">
          {{#each Grid-regions.tabs-nav }}
            <div class="swiper-slide">
              <a href="#" class="tours-slider__nav-link js-tabs-nav {{#if @first}}active{{/if}}">{{ this }}</a>        
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="grid-regions__tab-items">
      {{#each Grid-regions.tabs-nav }}
        <div class="tab-items__item grid-regions__tab-item js-tabs-item {{#if @first}}active{{/if}}">
          {{#each ../Grid-regions.tabs-items }}
            <a class="grid-regions__item" href="#">
              <img class="grid-regions__item-bg" src={{ this.bg-src }} alt="region background">
              <div class="gallery__item-info-label">
                <span class="gallery__item-info-labelContent">Восхождения</span>
                <span class="gallery__item-info-labelContent">12 туров</span>
              </div>
              <h3 class="grid-regions__item-header">
                <div class="grid-regions__item-header-text">{{ this.header }}
                </div>
                <div class="grid-regions__item-header-text grid-regions__item-header-text--small">Долина приведений
                </div>
              </h3>
            </a>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</section>