<section class="grid-catalog">
  <div class="container grid-catalog__container">
    <div class="sort js-accordion">
      <div class="sort__select-container js-accordion-item">
        <span class="sort__label">Сортировать:</span>
        <div class="sort__select js-accordion-btn">
          <div class="sort__selected-item-container">
            <span class="sort__selected-item">Все</span>
            <svg class="accordion__item-button-icon sort__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#icon-chevron"/>
            </svg>
          </div>
          
          <ul class="sort__list js-accordion-content">
            <li><a class="sort__list-item" href="#">Все</a></li>
            <li><a class="sort__list-item" href="#">По месяцу</a></li>
            <li><a class="sort__list-item" href="#">По региону</a></li>
            <li><a class="sort__list-item" href="#">По программе</a></li>
            <li><a class="sort__list-item" href="#">По сложности</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>