<section class="guide-description">
  <div class="container guide-description__container">
    <div class="guide-description__left-col">
      <div class="guide-description__block">
        <h3 class="guide-description__block-header">Интересные факты
        </h3>
        <ul class="guide-description__block-list">
          <li class="guide-description__block-list-item">Любимый номер – 13.
          </li>
          <li class="guide-description__block-list-item">Единственный российский участник Red Bull X-Fighters.
          </li>
          <li class="guide-description__block-list-item">Свою самую серьёзную травму получил на велосипеде, не на мотоцикле!)
          </li>
        </ul>
      </div>
      <div class="guide-description__block">
        <h3 class="guide-description__block-header">Достижения
        </h3>
        <ul class="guide-description__block-list">
          <li class="guide-description__block-list-item">Более 33 восхождений на Эльбрус
          </li>
          <li class="guide-description__block-list-item">4 восхожднния на Эльбрус с Запада
          </li>
          <li class="guide-description__block-list-item">5 восхождений на Казбек с Юга
          </li>
          <li class="guide-description__block-list-item">14 летниз воссхождений на Эльбрус с Юга
          </li>
          <li class="guide-description__block-list-item">10 зимних на Эльбрус с Севера
          </li>
        </ul>
      </div>
    </div>
    <div class="guide-description-right-col">
      <div class="guide-description__short-info">
        <p class="guide-description__short-info-row">
          <span class="guide-description__short-info-left-col">Начало карьеры
          </span>
          <span class="guide-description__short-info-right-col">2009
          </span>
        </p>
        <p class="guide-description__short-info-row">
          <span class="guide-description__short-info-left-col">Город
          </span>
          <span class="guide-description__short-info-right-col">Казань
          </span>
        </p>
        <p class="guide-description__short-info-row">
          <span class="guide-description__short-info-left-col">Дата рождения
          </span>
          <span class="guide-description__short-info-right-col">12.11.1990
          </span>
        </p>
        <p class="guide-description__short-info-row">
          <span class="guide-description__short-info-left-col">Соцсети
          </span>
          <span class="guide-description__short-info-right-col">
            <span class="guide-description__socials-link-container">
              <a href="#" class="guide-description__socials-link">
                <svg class="guide-description__socials-link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use href="#fb"/>
                </svg>
              </a>
              <a href="#" class="guide-description__socials-link">
                <svg class="guide-description__socials-link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#instagram"/>
                </svg>
              </a>
              <a href="#" class="guide-description__socials-link">
                <svg class="guide-description__socials-link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use href="#vk"/>
                </svg>
              </a>
            </span>
          </span>
        </p>
      </div>
      <div class="guide-description__credo">
        <h3 class="guide-description__credo-header">Кредо
        </h3>
        <div class="guide-description__credo-quote">
          <svg class="guide-description__credo-quote-border-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448.75 44.63"><path d="M.13,0V2.51A9.5,9.5,0,0,0,9.63,12h42a10.5,10.5,0,0,1,10.5,10.5V43a1.5,1.5,0,0,0,2.32,1.26l46.92-30.55a10.5,10.5,0,0,1,5.73-1.7h322a9.5,9.5,0,0,0,9.5-9.5V0"/></svg>
          <svg class="guide-description__credo-quote-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#quotes"/>
          </svg>
          <p class="guide-description__credo-quote-text">Вера только в себя и свои силы! И никогда не сдаваться! Нет страшнее и сильнее соперника, чем ты сам!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>