<section class="tours-slider guides-slider">
  <div class="container tours-slider__container js-tours-slider">
    <div class="tours-slider__top-row">
      <h3 class="tours-slider__header">Гиды восхождения
      </h3>
    </div>

    <div class="tours-slider__bottom-row">
      <div class="tours-slider__left-col">
        <p class="tours-slider__description">Наши гиды. Самая важная составляющая любого тура – гид (инструктор). Именно он обеспечивает на восхождении все - питание и организацию
        </p>
        <div class="tours-slider__slider-nav-buttons-container">
          <button class="slider__nav-button slider__nav-button--prev">
            <div class="slider__nav-button-bg">
            </div>
            <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#arrow-next"/>
            </svg>
          </button>
          <button class="slider__nav-button slider__nav-button--next">
            <div class="slider__nav-button-bg">
            </div>
            <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#arrow-next"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="tours-slider__right-col">
        <div class="tab-items">
          <div class="tab-items__item js-tabs-item active">
            <div class="tours-slider__slider-wrapper">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#"  class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/team-item-2.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Команда по Альпинизму
                          </h4>
                        </div>
                      </a>
                    </div>

                    <div class="swiper-slide">
                      <a href="#" class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/review-img-1.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Команда по Скалолазанию
                          </h4>
                        </div>
                      </a>
                    </div>

                    <div class="swiper-slide">
                      <a href="#"  class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/team-item-1.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Команда по Альпинизму
                          </h4>
                        </div>
                      </a>
                    </div>

                    <div class="swiper-slide">
                      <a href="#"  class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/team-item-3.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Команда по Скалолазанию
                          </h4>
                        </div>
                      </a>
                    </div>

                    <div class="swiper-slide">
                      <a href="#"  class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/team-item-2.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Команда по Альпинизму
                          </h4>
                        </div>
                      </a>
                    </div>

                    <div class="swiper-slide">
                      <a href="#" class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/review-img-1.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Команда по Скалолазанию
                          </h4>
                        </div>
                      </a>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>