<header class="page-header hero page-header--guides page-header--guide">
  <div class="hero__bg">
    <img class="hero__bg-img" src={{ Header.hero-img-src }} alt="hero bg">
  </div>

  <div class="page-header__content-layout">
    <div class="page-header__nav">
      <div class="page-header__menu-bg">
        <img class="page-header__menu-bg-img" src="./img/menu-bg.jpg" alt="menu background">
      </div>
      <div class="logo page-header__logo">
        <a href="#" class="logo__link page-header__logo-link">
          <svg class="logo__link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#logo-icon"/>
          </svg>
          <svg class="logo__link-text page-header__logo-link-text" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#logo-text"/>
          </svg>
        </a>
      </div>

      <div class="nav-links page-header__nav-links js-accordion">
        <a href="#" class="nav-links-link">
          Направления
        </a>
        <a href="/catalog.html" class="nav-links-link">
          Туры
        </a>
        <a href="#" class="nav-links-link">
          Школы
        </a>
        <div class="nav-links-accordion js-accordion-item">
          <button class="nav-links-accordion-button js-accordion-btn">
            Регионы
            <svg class="accordion__item-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#icon-chevron--thin"/>
            </svg>
          </button>
          <ul class="nav-links-list js-accordion-content">
            <li class="nav-links-list-item">
              <a class="nav-links-list-item-link" href="#">Эльбрус</a>
            </li>
            <li class="nav-links-list-item">
              <a class="nav-links-list-item-link" href="#">Казбек</a>
            </li>
            <li class="nav-links-list-item">
              <a class="nav-links-list-item-link" href="#">Непал</a>
            </li>
          </ul>
        </div>
        <a href="/regions.html" class="nav-links-link">
          Регионы
        </a>
        <a href="#" class="nav-links-link">
          Пошаговая подготовка
        </a>
        <a href="#" class="nav-links-link">
          Сообщество
        </a>
        <a href="/about.html" class="nav-links-link">
          О нас
        </a>
      </div>

      <div class="page-header__search-container">
        <form action="/" method="POST" class="page-header__search-form" autocomplete="off">
          <input id="search-input" type="text" class="page-header__search-form-input" placeholder="Поиск">
          <div class="page-header__search-button-wrapper">
            <button type="submit" class="page-header__search-button js-header-search-form-button">
              <svg class="page-header__search-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use href="#loupe"/>
              </svg>
            </button>
          </div>
        </form>
      </div>

      <div class="page-header__phone-number-wrapper">
        <div class="phone-number page-header__phone-number">
          <a href="tel:+78009833838" class="phone-number__phone-link page-header__phone-number-link">
            <span class="phone-number__phone-link-text">8 800 983 38 38</span>
            <svg class="phone-number__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#phone"/>
            </svg>
          </a>
        </div>
      </div>

      <div class="page-header__socials">
        <a href="#" class="page-header__socials-link">
          <svg class="page-header__socials-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#fb"/>
          </svg>
        </a>
        <a href="#" class="page-header__socials-link">
          <svg class="page-header__socials-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#instagram"/>
          </svg>
        </a>
        <a href="#" class="page-header__socials-link">
          <svg class="page-header__socials-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#vk"/>
          </svg>
        </a>
      </div>

      <button class="page-header__menu-button js-menu-button">
        <div class="page-header__menu-button-line"></div>
      </button>
    </div>

    <div class="container page-header__container">
      <ul class="page-header__breadcrumbs breadcrumbs">
        {{#each Header.breadcrumbs }}
          <li class="breadcrumbs__item">
            <a href={{ this.href }}>
              <span class="breadcrumbs__text">{{ this.text }} </span>
              <svg class="breadcrumbs__icon"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use href="#icon-chevron"/>
              </svg>
            </a>
          </li>
        {{/each}}
      </ul>
      <div class="hero__content-container">
        <h1 class="hero__main-slider-item-header">Ильдар халиуллин
        </h1>
        <p class="hero__main-slider-item-category-header">Альпинизм
        </p>
        <button class="link--button js-video-modal-button" data-video-id="CNpqVWhgdZs" data-video-img-src="./img/about-video.jpg">
          <span class="link--button__text link--button__text--bg">
            <span class="link--button__icon-container">
              <span class="link--button__icon">
                {{> play-button }}
              </span>
            </span>
            <span>Смотреть видео</span>
          </span>
          <span class="link--button__text link--button__text--for">
            <span class="link--button__icon-container">
              <span class="link--button__icon">
                {{> play-button }}
              </span>
            </span>
            <span>Смотреть видео</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>