<header class="page-header hero js-hero-slider">
  <div class="hero__bg-slider js-hero-bg-slider">
    <div class="hero__bg-slider-wrapper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="hero__bg-slider-item">
                <img class="hero__bg-slider-item-bg-img" src="./img/header__item-1.jpg" alt="bg image">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="hero__bg-slider-item">
                <img class="hero__bg-slider-item-bg-img" src="./img/gallery__item-1.jpg" alt="bg image">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="hero__bg-slider-item">
                <img class="hero__bg-slider-item-bg-img" src="./img/header__item-1.jpg" alt="bg image">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="hero__bg-slider-item">
                <img class="hero__bg-slider-item-bg-img" src="./img/gallery__item-1.jpg" alt="bg image">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="hero__bg-slider-item">
                <img class="hero__bg-slider-item-bg-img" src="./img/header__item-1.jpg" alt="bg image">
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="hero__bg-slider-mask">
    </div>
  </div>
  <div class="page-header__nav">
    <div class="logo page-header__logo">
      <a href="#" class="logo__link">
        <svg class="logo__link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#logo-icon"/>
        </svg>
        <svg class="logo__link-text" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#logo-text"/>
        </svg>
      </a>
    </div>

    <div class="nav-links page-header__nav-links">
      <a href="#" class="nav-links-link">
        Направления
      </a>
      <a href="#" class="nav-links-link">
        Туры
      </a>
      <a href="#" class="nav-links-link">
        Школы
      </a>
      <a href="#" class="nav-links-link">
        Регионы
      </a>
      <a href="#" class="nav-links-link">
        Пошаговая подготовка
      </a>
      <a href="#" class="nav-links-link">
        Сообщество
      </a>
      <a href="#" class="nav-links-link">
        О нас
      </a>

      <button class="page-header__search-button js-header-search-form-button">
        <svg class="page-header__search-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#loupe"/>
        </svg>
      </button>
    </div>

    <div class="phone-number">
      <a href="tel:+78009833838" class="phone-number__phone-link">8 800 983 38 38</a>
    </div>
  </div>

  <form action="/" method="POST" class="page-header__form" autocomplete="off">
    <div class="page-header__form-row">
      <div class="page-header__form-group">
        <input id="search-input" type="text" class="page-header__form-input" placeholder="ПОИСК">
      </div>
      <button type="button" class="page-header__form-close-button js-header-search-form-button">
        <div class="page-header__form-close-button-line"></div>
        <div class="page-header__form-close-button-line page-header__form-close-button-line--rotate"></div>
      </button>
    </div>
    <div class="page-header__form-bottom-line"></div>
  </form>

  <div class="container page-header__container">
      <div class="hero__main-slider js-hero-main-slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="hero__main-slider-item">
                  <h3 class="hero__main-slider-item-header">Траверс Эльбруса восхождение с севера на юг
                  </h3>
                  <a href="#" class="link--button hero__main-slider-item-link">
                    <span class="link--button__text link--button__text--bg">Подробнее о туре</span>
                    <span class="link--button__text link--button__text--for">Подробнее о туре</span>
                  </a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="hero__main-slider-item">
                  <h3 class="hero__main-slider-item-header">программа 7 вершин
                  </h3>
                  <a href="#" class="link--button hero__main-slider-item-link">
                    <span class="link--button__text link--button__text--bg">Подробнее о туре</span>
                    <span class="link--button__text link--button__text--for">Подробнее о туре</span>
                  </a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="hero__main-slider-item">
                  <h3 class="hero__main-slider-item-header">Траверс Эльбруса восхождение с севера на юг
                  </h3>
                  <a href="#" class="link--button hero__main-slider-item-link">
                    <span class="link--button__text link--button__text--bg">Подробнее о туре</span>
                    <span class="link--button__text link--button__text--for">Подробнее о туре</span>
                  </a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="hero__main-slider-item">
                  <h3 class="hero__main-slider-item-header">Траверс Эльбруса восхождение с севера на юг
                  </h3>
                  <a href="#" class="link--button hero__main-slider-item-link">
                    <span class="link--button__text link--button__text--bg">Подробнее о туре</span>
                    <span class="link--button__text link--button__text--for">Подробнее о туре</span>
                  </a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="hero__main-slider-item">
                  <h3 class="hero__main-slider-item-header">Траверс Эльбруса восхождение с севера на юг
                  </h3>
                  <a href="#" class="link--button hero__main-slider-item-link">
                    <span class="link--button__text link--button__text--bg">Подробнее о туре</span>
                    <span class="link--button__text link--button__text--for">Подробнее о туре</span>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="hero__thumbs-slider js-hero-thumbs-slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="hero__thumbs-slider-item">
                  <h3 class="hero__thumbs-slider-item-header">Траверс Эльбруса, восхождение с севера на юг
                  </h3>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="hero__thumbs-slider-item">
                  <h3 class="hero__thumbs-slider-item-header">программа 7 вершин
                  </h3>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="hero__thumbs-slider-item">
                  <h3 class="hero__thumbs-slider-item-header">Траверс Эльбруса, восхождение с севера на юг
                  </h3>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="hero__thumbs-slider-item">
                  <h3 class="hero__thumbs-slider-item-header">Траверс Эльбруса, восхождение с севера на юг
                  </h3>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="hero__thumbs-slider-item">
                  <h3 class="hero__thumbs-slider-item-header">Траверс Эльбруса, восхождение с севера на юг
                  </h3>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</header>