<section class="question-section">
  <div class="container question-section__container">
    <h1 class="question-section__header">Я новичок, с чего начать?
    </h1>

    <div class="question-section__layout">
      <div class="question-section__content">
        <div class="question-section__video">
          <img class="question-section__video-img" src="./img/question__video-1.jpg" alt="video bg">
          <div class="question-section__video-play-button">
            {{> play-button }}
          </div>
          <button class="about__item-video-modal-button js-video-modal-button" data-video-id="CNpqVWhgdZs" data-video-img-src="./img/about-video.jpg">
          </button>
        </div>
        
        <div class="question-section__block">
          <h3 class="question-section__block-header">Как подготовиться к первому восхождению?
          </h3>
          <p>Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей физической форме и постоянно занимаетесь спортом — вам будет легче. Если же спортсменом вас можно назвать с большой натяжкой, но вы нацелены во что бы то ни стало покорить самую высокую точку Европы или главную гору Алтая, не отчаивайтесь! В любом случае первое правило подготовки новичков — постоянные и усердные тренировки. Поверьте, все потраченные усилия с лихвой окупятся на высоте. К тому же будет обидно, если вы не дойдете всего чуть-чуть до нужной отметки, потому что на последних метрах закончатся все силы. Поэтому составьте график тренировок и не нарушайте его!
          </p>
        </div>
        <div class="question-section__block">
          <h3 class="question-section__block-header">Сложности при подготовке и в процессе восхождения
          </h3>
          <p>Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей физической форме и постоянно занимаетесь спортом — вам будет легче. Если же спортсменом вас можно назвать с большой натяжкой, но вы нацелены во что бы то ни стало покорить самую высокую точку Европы или главную гору Алтая, не отчаивайтесь! В любом случае первое правило подготовки новичков — постоянные и усердные тренировки. Поверьте, все потраченные усилия с лихвой окупятся на высоте. К тому же будет обидно, если вы не дойдете всего чуть-чуть до нужной отметки, потому что на последних метрах закончатся все силы. Поэтому составьте график тренировок и не нарушайте его!
          </p>
        </div>
        <div class="question-section__block">
          <h3 class="question-section__block-header">Как подготовиться к первому восхождению?
          </h3>
          <p>Нужно ли тренироваться перед восхождением? Обязательно! Если вы находитесь в хорошей физической форме и постоянно занимаетесь спортом — вам будет легче. Если же спортсменом вас можно назвать с большой натяжкой, но вы нацелены во что бы то ни стало покорить самую высокую точку Европы или главную гору Алтая, не отчаивайтесь! В любом случае первое правило подготовки новичков — постоянные и усердные тренировки. Поверьте, все потраченные усилия с лихвой окупятся на высоте. К тому же будет обидно, если вы не дойдете всего чуть-чуть до нужной отметки, потому что на последних метрах закончатся все силы. Поэтому составьте график тренировок и не нарушайте его!
          </p>
        </div>

        <a class="question-section__go-back-link" href="#">
          <svg class="question-section__go-back-link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#icon-chevron"/>
          </svg>
          <span>Вернуться</span>
        </a>
      </div>
      <div class="question-section__other-items-side">
        <h2 class="other-items__header">Другие вопросы в этой категории
        </h2>

        <ul>
          <li><a class="other-items__link" href="">
            На чем всегда можно сэкономить в поездке?
          </a></li>
          <li><a class="other-items__link" href="">
            Кто будет сопровождать меня в путешествии
          </a></li>
          <li><a class="other-items__link" href="">
            Я новичок, с чего начать?
          </a></li>
          <li><a class="other-items__link" href="">
            Какие снегоходы используются на маршруте
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>