<section class="requisites-section">
  <picture>
    <source type="image/webp" media="(min-width: 768px)" srcset="./img/form-section-bg-crop.webp">
    <source media="(max-width: 767px)" srcset="./img/form-section-bg-crop-768.png">
    <img class="form-section__bg" src="./img/form-section-bg-crop.png" alt="form-section background">
  </picture>
  <div class="container form-section__container">
    <div class="form-section__form-row">
      <div class="form-section__form-col">
        <h3 class="form-section__header">{{ form-section-header }}</h3>
        <p class="form-section__header-description">
        ООО “ИКС ГИД”<br>
        ОГРН: 1151690048036 <br>
        ИНН: 1661045080
        </p>
      </div>
      <div class="form-section__form-col">

      </div>
    </div>
  </div>
  <div class="form-section__bg-gradient">
  </div>
</section>