<section class="team">
  <div class="team__bg">
  </div>
  <div class="container team__container js-team-slider">
    <h3 class="team__header">Наша команда</h3>
    <div class="team__slider-nav-buttons-container">
      <button class="slider__nav-button slider__nav-button--prev">
        <div class="slider__nav-button-bg">
        </div>
        <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#arrow-next"/>
        </svg>
      </button>
      <button class="slider__nav-button slider__nav-button--next">
        <div class="slider__nav-button-bg">
        </div>
        <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use href="#arrow-next"/>
        </svg>
      </button>
    </div>
    <div class="team__slider-container">
      <div class="team__slider-container-inner">
        <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="team__slider-item team__slider-item--s">
                  <img class="slider__item-bg-img" src="./img/team-item-1.jpg" alt="review-img">
                  <div class="slider__item-bg-gradient"></div>
                  <div class="slider__item-content">
                    <h3 class="team__slider-item-header">Алексей Спичников
                    </h3>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="team__slider-item team__slider-item--m team__slider-item--up">
                  <img class="slider__item-bg-img" src="./img/team-item-2.jpg" alt="review-img">
                  <div class="slider__item-bg-gradient"></div>
                  <div class="slider__item-content">
                    <h3 class="team__slider-item-header">Ильдар Халиуллин
                    </h3>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="team__slider-item ">
                  <img class="slider__item-bg-img" src="./img/team-item-3.jpg" alt="review-img">
                  <div class="slider__item-bg-gradient"></div>
                  <div class="slider__item-content">
                    <h3 class="team__slider-item-header">Роман Аверьев
                    </h3>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="team__slider-item team__slider-item--s team__slider-item--up">
                  <img class="slider__item-bg-img" src="./img/team-item-1.jpg" alt="review-img">
                  <div class="slider__item-bg-gradient"></div>
                  <div class="slider__item-content">
                    <h3 class="team__slider-item-header">Алексей Спичников
                    </h3>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="team__slider-item">
                  <img class="slider__item-bg-img" src="./img/review-img-1.jpg" alt="review-img">
                  <div class="slider__item-bg-gradient"></div>
                  <div class="slider__item-content">
                    <h3 class="team__slider-item-header">Зубко Максим
                    </h3>
                    <p class="team__slider-item-text">Фристайл-мотокросс
                    </p>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>