<section class="tours-slider">
  <div class="container tours-slider__container js-tours-slider">
    <div class="tours-slider__top-row">
      <h3 class="tours-slider__header">Программа 7 вершин
      </h3>
    </div>

    <div class="tours-slider__bottom-row">
      <div class="tours-slider__left-col">
        <p class="tours-slider__description">Подготовим вас к первому восхождению, предоставим снаряжение, а во время поездки обеспечим всем, проживанием, питанием, гиды обучат альпинизму и торжественно вручат значок.
        </p>
        <div class="tours-slider__slider-nav-buttons-container">
          <button class="slider__nav-button slider__nav-button--prev">
            <div class="slider__nav-button-bg">
            </div>
            <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#arrow-next"/>
            </svg>
          </button>
          <button class="slider__nav-button slider__nav-button--next">
            <div class="slider__nav-button-bg">
            </div>
            <svg class="slider__nav-button-icon" class="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use href="#arrow-next"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="tours-slider__right-col">
        <div class="tab-items">
          <div class="tab-items__item js-tabs-item active">
            <div class="tours-slider__slider-wrapper">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#"  class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/tours-slider__item-1.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="gallery__item-info-label">
                          <span class="gallery__item-info-labelContent">Восхождение</span>
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Программа <br> «7 вершин»
                          </h4>
                          <div class="tours-slider__item-description-container">
                            <p class="tours-slider__item-text">Вы поднимаетесь на вершину, где нет ни канатных дорог, ни ратраков, а спускаетесь по южному склону
                            </p>
                            <div class="tours-slider__item-specifications">
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Дата
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  30 сентября — 10 октября
                                </p>
                              </div>
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Сложность
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  Начальный уровень
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="swiper-slide">
                      <a href="#" class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/tours-slider__item-2.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="gallery__item-info-label">
                          <span class="gallery__item-info-labelContent">Трекинг</span>
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Траверс Эльбруса, восхождение с севера на юг
                          </h4>
                          <div class="tours-slider__item-description-container">
                            <p class="tours-slider__item-text">Вы поднимаетесь на вершину, где нет ни канатных дорог, ни ратраков, а спускаетесь по южному склону
                            </p>
                            <div class="tours-slider__item-specifications">
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Дата
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  30 сентября — 10 октября
                                </p>
                              </div>
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Сложность
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  Начальный уровень
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="swiper-slide">
                      <a href="#"  class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/tours-slider__item-3.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="gallery__item-info-label">
                          <span class="gallery__item-info-labelContent">Восхождение</span>
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Программа <br> «7 вершин»
                          </h4>
                          <div class="tours-slider__item-description-container">
                            <p class="tours-slider__item-text">Вы поднимаетесь на вершину, где нет ни канатных дорог, ни ратраков, а спускаетесь по южному склону
                            </p>
                            <div class="tours-slider__item-specifications">
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Дата
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  30 сентября — 10 октября
                                </p>
                              </div>
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Сложность
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  Начальный уровень
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>


                    <div class="swiper-slide">
                      <a href="#"  class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/tours-slider__item-1.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="gallery__item-info-label">
                          <span class="gallery__item-info-labelContent">Восхождение</span>
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Программа <br> «7 вершин»
                          </h4>
                          <div class="tours-slider__item-description-container">
                            <p class="tours-slider__item-text">Вы поднимаетесь на вершину, где нет ни канатных дорог, ни ратраков, а спускаетесь по южному склону
                            </p>
                            <div class="tours-slider__item-specifications">
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Дата
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  30 сентября — 10 октября
                                </p>
                              </div>
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Сложность
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  Начальный уровень
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="swiper-slide">
                      <a href="#"  class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/tours-slider__item-2.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="gallery__item-info-label">
                          <span class="gallery__item-info-labelContent">Трекинг</span>
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Траверс Эльбруса, восхождение с севера на юг
                          </h4>
                          <div class="tours-slider__item-description-container">
                            <p class="tours-slider__item-text">Вы поднимаетесь на вершину, где нет ни канатных дорог, ни ратраков, а спускаетесь по южному склону
                            </p>
                            <div class="tours-slider__item-specifications">
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Дата
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  30 сентября — 10 октября
                                </p>
                              </div>
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Сложность
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  Начальный уровень
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="swiper-slide">
                      <a href="#"  class="tours-slider__item">
                        <img class="slider__item-bg-img" src="./img/tours-slider__item-3.jpg" alt="item bg">
                        <div class="slider__item-bg-gradient">
                        </div>
                        <div class="gallery__item-info-label">
                          <span class="gallery__item-info-labelContent">Восхождение</span>
                        </div>
                        <div class="tours-slider__item-content-container">
                          <h4 class="tours-slider__item-header">Программа <br> «7 вершин»
                          </h4>
                          <div class="tours-slider__item-description-container">
                            <p class="tours-slider__item-text">Вы поднимаетесь на вершину, где нет ни канатных дорог, ни ратраков, а спускаетесь по южному склону
                            </p>
                            <div class="tours-slider__item-specifications">
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Дата
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  30 сентября — 10 октября
                                </p>
                              </div>
                              <div class="tours-slider__item-specification">
                                <p class="tours-slider__item-specification-name">
                                  Сложность
                                </p>
                                <p class="tours-slider__item-specification-value">
                                  Начальный уровень
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>