<section class="work-in">
  <div class="container work-in__container">
    <div class="work-in__layout">
      <div class="work-in__left-col">
        <h3 class="work-in__header">Работа в X-guide
        </h3>
        <p class="work-in__text">Подготовим вас к первому восхождению, предоставим снаряжение, а&nbsp;во время поездки обеспечим всем, проживанием, питанием, гиды обучат альпинизму и торжественно вручат значок альпиниста России
        </p>
        <h4 class="work-in__list-header">Пошаговая подготовка до восхождения
        </h4>
        <ol class="work-in__list">
          <li>Подберем снаряжение и план физ. подготовки
          </li>
          <li>Поможем, с билетами, страховкой и другим
          </li>
        </ol>
      </div>
      <div class="work-in__right-col">
        <a class="work-in__link" href="#">
          <svg class="work-in__link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use href="#hh-icon"/>
          </svg>
          <span class="work-in__link-text">Смотри наши <br>вакансии на HH
          </span>
        </a>
      </div>
    </div>
  </div>
</section>