{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--about }}

  <main class="page-main">
    {{> advantages }}
    {{> concept }}
    {{> guides-slider }}
    {{> form-section }}
  </main>
  
  {{> footer }}

{{/content}}
{{/extend}}