{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--thin}}

  <main class="page-main">
    {{> search-tours-form }}
    {{> grid-catalog }}
    {{> tours-slider }}
    {{> select-travel-form }}
    {{> blog }}
    {{> accordion }}
    {{> form-section }}
  </main>
  
  {{> footer }}

{{/content}}
{{/extend}}