{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--thin}}

  <main class="page-main">
    {{> search-tours-form }}
 
    {{> select-travel-form }}
    {{> blog }}
    {{> accordion }}
    {{> form-section }}
  </main>
  
  {{> footer }}
  {{> video-modal }}

{{/content}}
{{/extend}}