{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--mini}}

  <main class="page-main">
    {{> contacts-section }}
    {{> requisites-section }}
  </main>
  
  {{> footer }}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=87e1a4bf-b96c-4bd1-a387-9213a09a0518&lang=ru_RU&mode=debug" type="text/javascript"></script>
{{/content}}
{{/extend}}