{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--guides}}

  <main class="page-main">
    {{> grid-guides }}
    {{> work-in-x-guide }}
    {{> form-section }}
  </main>
  
  {{> footer }}

{{/content}}
{{/extend}}