{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--guide }}

  <main class="page-main">
    {{> guide-description }}
    {{> from-guide }}
    {{> form-section }}
  </main>
  
  {{> footer }}
  {{> video-modal }}
{{/content}}
{{/extend}}