{{#extend "layout"}}
{{#content "page-content"}}
  {{> header }}

  <main class="page-main">
    {{> search-tours-form }}
    {{> tours-slider-with-tabs }}
    {{> about }}
    {{> team }}
    {{> gallery-reviews }}

    {{> blog }}

    {{> accordion }}
    {{> form-section }}
  </main>
  
  {{> footer }}
  {{> video-modal }}
{{/content}}
{{/extend}}