{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--question }}

  <main class="page-main">
    {{> question-section }}
    {{> form-section }}
  </main>
  
  {{> footer }}
  {{> video-modal }}
{{/content}}
{{/extend}}