{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--thin}}

  <main class="page-main">
    {{> choose-section }}
    {{> form-section }}
  </main>
  
  {{> footer }}

{{/content}}
{{/extend}}