{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--thin}}

  <main class="page-main">
    {{> grid-regions }}
    {{> accordion }}
    {{> form-section }}
  </main>
  
  {{> footer }}

{{/content}}
{{/extend}}