{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--reviews }}

  <main class="page-main">
    {{> grid-reviews }}
    
    {{> form-section }}
  </main>
  
  {{> footer }}

{{/content}}
{{/extend}}