{{#extend "layout"}}
{{#content "page-content"}}
  {{> header--reviews }}

  <main class="page-main">
    {{> grid-reviews }}
    
    {{> form-section }}
  </main>
  
  {{> footer }}
  {{> video-modal }}
  <script src="https://www.youtube.com/iframe_api"></script>
{{/content}}
{{/extend}}