.accordion {
  background-color: var(--white);
}
.accordion__container {
  padding-top: 10rem;
}
.accordion__item {
  max-width: 103rem;
  padding-bottom: 4rem;

  &.active {
    .accordion__item-button-icon {
      transform: rotate(180deg);
    }

    .accordion__item-button-text--open {
      display: none;
    }
    .accordion__item-button-text--close {
      display: inline-block;
    }
  }
}
.accordion__item-header {
  max-width: 90%;
  padding-bottom: 2.6rem;
  font-family: var(--jost);
  font-style: italic;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 146%;
  color: var(--primary-color);

  @include breakpoint (mobile) {
    max-width: unset;
  }
}
.accordion__item-text {
  margin-bottom: 2rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 130%;
  color: var(--gray);
}
.accordion__item-text--hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-in-out;
}
.accordion__item-button {
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: 0.15s ease-in-out;
  
  &:hover {
    opacity: 0.6;
  }
  &:active {
    transition: unset;
    opacity: 1;
  }
}
.accordion__item-button-text {
  padding-right: 0.6rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 120%;
  color: var(--gray);
}
.accordion__item-button-text--close {
  display: none;
}
.accordion__item-button-icon {
  width: 1rem;
  height: 0.4rem;
  vertical-align: middle;
  transition: transform 0.25s ease-in-out;
}