.advantages__container {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  display: flex;

  @include breakpoint(mobile) {
    display: block;
  }
}

.advantages__right-col {
  margin-left: 18rem;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }
}
.advantages__advantage {
  margin-bottom: 6rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.7rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(mobile) {
    margin-bottom: 4rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
.advantages__advantage-header {
  font-family: var(--jost);
  font-style: italic;
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 5.2rem;
  text-transform: uppercase;
  color: var(--primary-color);

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
}
.advantages__advantage-list-item {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2.2rem;
  position: relative;
  
  &::before {
    content: " ";
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: calc((2.7rem - 6px) / 2);
    left: 0;
    border-radius: 50%;
    background-color: var(--blue);

    @include breakpoint(mobile) {
      top: calc((2.2rem - 6px) / 2);
    }
  }

  span {
    vertical-align: middle;
  }

  @include breakpoint(mobile) {
    padding-left: 1.6rem;
  }
}
.advantages__advantage-info {
  margin-bottom: 6rem;
  color: var(--primary-color);

  @include breakpoint(mobile) {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
.advantages__advantage-info-text-top {
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.advantages__advantage-info-text-bottom {
  font-family: var(--jost);
  font-style: italic;
  font-weight: 900;
  font-size: 6.9rem;
  line-height: 10rem;

  @include breakpoint(mobile) {
    font-size: 3.4rem;
    line-height: 5.5rem;
  }

  span {
    display: inline-block;
    font-size: 2rem;
    line-height: 2.2rem;

    @include breakpoint(mobile) {
      font-size: 1.6rem;
      line-height: 1.7rem;
    }
  }
}