.form-section {
  position: relative;
  overflow: hidden;
}
.form-section__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include objectFitCoverTop;
}
.form-section__container {
  padding-top: 18rem;
  position: relative;

  @include breakpoint(mobile) {
    padding-top: 8rem;
  }
}
.form-section__form-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;

  @include breakpoint(mobile) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 3rem;
    align-items: initial;
  }
}
.form-section__header {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  font-family: var(--jost);
  font-style: italic;
  font-weight: 900;
  font-size: 6.2rem;
  line-height: 110%;
  color: var(--white);

  @include breakpoint(mobile) {
    font-size: 4rem;
  }
}
.form-section__header-description {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 125%;
  color: var(--white);

  @include breakpoint(mobile) {
    font-size: 1.6rem;
  }
}

.form-section__form-content {
  max-width: 42rem;
  margin-left: auto;
  position: relative;
  background-color: var(--white);
  border-radius: 1rem;

  @include breakpoint(mobile) {
    margin-right: auto;
  }
}
.form-section__form-bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.form-section__form-bg-img {
  width: 120%;
  max-width: unset;
  transform: translate(10%, 20%);
  opacity: 0.25;
}
.form-section__form {
  padding: 4rem;
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 2.5rem;
  transition: 0.35s ease-in-out;

  @include breakpoint(mobile) {
    padding: 2.4rem 2.4rem 3.4rem;
  }
}
.form--hidden {
  opacity: 0;
  visibility: hidden;
}
.form-section__form-heading {
  padding-bottom: 1rem;
  font-family: var(--jost);
  font-style: italic;
  font-weight: 900;
  font-size: 2.6rem;
  line-height: 123%;
  text-transform: uppercase;
  color: var(--primary-color);

  @include breakpoint(mobile) {
    font-size: 2.2rem;
  }
}
.form-section__form-group {
  position: relative;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 143%;
  color: rgba(18,33,77,0.6);

  @include breakpoint(mobile) {
    font-size: 1.6rem;
  }
}
.form-section__form-input {
  height: 6rem;
  padding: 0 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(18, 35, 77, 0.2);
  color: var(--primary-color);

  &.parsley-error {
    border-color: var(--soft-red);
  }
  
  @include placeholder {
    opacity: 0;
  }

  @include breakpoint(mobile) {
    height: 5rem;
  }
}

textarea.form-section__form-input {
  height: 10rem;
  padding: 1.4rem 2rem;
}

.form-section__form-label {
  height: 100%;
  padding: 0 0 0 1.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
  user-select: none;
  transform-origin: 30% 50%;
  transition: 0.25s ease-in-out;

  textarea ~ & {
    height: 6rem;

    @include breakpoint(mobile) {
      height: 5rem;
    }
  }

  .parsley-error ~ & {
    color: var(--soft-red);
  }

  .form-section__form-input:focus ~ &, .form-section__form-input:not(:placeholder-shown) ~ & {
    transform: translateY(-50%) scale(0.8);
  }
}
.form-section__form-label-text {  
  padding: 0 0.5rem;
  background-color: var(--white);
}

.parsley-errors-list.filled {
  margin: auto 0 auto 2rem;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 125%;
  color: var(--white);
  user-select: none;
  pointer-events: none;
  opacity: 0;

  @include breakpoint (small-tablet) {
    margin: auto;
  }

  @include breakpoint (mobile) {
    margin: 1rem auto 0;
    left: 0;
    right: 0;
    top: 100%;
    bottom: auto;
  }

  .form-section__form-input:focus ~ &, .form-section__form-input:not(:placeholder-shown) ~ &,
  .form-section__form-checkbox:focus-within ~ &  {
    opacity: 1;
  }

  & li {
    padding: 2.8rem 3.6rem;
    position: relative;
    display: block;
    border-radius: 1rem;
    background-color: var(--soft-red);
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);

    @supports (filter: drop-shadow(1px 1px 1px black)) {
      filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.14)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.12));
      box-shadow: none;
    }

    &::before {
      content: " ";
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--soft-red);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      transform: translateX(-50%) rotate(45deg);

      @include breakpoint (mobile) {
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}

.form-section__form-checkbox {
  max-width: 90%;
  display: flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--primary-color);

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

.form-section__form-checkbox-input {
  @include visuallyHidden();
}

.form-section__form-checkbox-mark {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  flex-shrink: 0;
  border: 1px solid #12214D;
  border-radius: 50%;
  margin-right: 1.4rem;
  cursor: pointer;
  transition: background-color 0.2s;
  opacity: 0.4;
  

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 43%;
    height: 43%;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: opacity 0.2s;
    opacity: 0;

    @include breakpoint(mobile) {
      width: 50%;
      height: 50%;
    }
  }

  .form-section__form-checkbox-input:checked ~ &::before {
    opacity: 1;
  }
}

.form-section__form-checkbox-text {
  opacity: 0.5;

  .parsley-error & {
    color: var(--soft-red);
    opacity: 1;
  }
}


.form-section__submit {
  width: 100%;
  padding-bottom: .5rem;
}

.link--button__text {

  .form-section__submit & {
    width: 100%;
  }
}
.form-section__bg-gradient {
  height: 20rem;
  position: relative;
  background: linear-gradient(180deg, transparent, #131020);

  @include breakpoint(mobile) {
    height: 10rem;
  }
}

.form-section__form-modal {
  height: 100%;
  padding: 0 5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  transition: 0.35s ease-in-out;
}
.form-modal--hidden {
  opacity: 0;
  visibility: hidden;
}
.form-section__form-modal-header {
  font-family: var(--jost);
  font-style: italic;
  font-weight: 900;
  font-size: 2.6rem;
  line-height: 131%;
  text-transform: uppercase;
  color: var(--primary-color);
}
.form-section__form-modal-text {
  margin-top: 3rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 140%;
  color: var(--primary-color);
}