.form-section {
  position: relative;
  overflow: hidden;
}
.form-section__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include objectFitCoverTop;
}
.form-section__container {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
// .form-section__headers-container,
// .form-section__form-container {
//   flex: 1 50%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
.contacts__form-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;

  @include breakpoint(mobile) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      align-items: initial;
  }
}
.form-section__header {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  font-family: var(--jost);
  font-style: italic;
  font-weight: 900;
  font-size: 6.2rem;
  line-height: 110%;
  color: var(--white);
}
.form-section__header-description {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 125%;
  color: var(--white);
}

.contacts__form-content {
  max-width: 42rem;
  margin-left: auto;
  position: relative;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 0.4rem 2.5rem rgba(239, 239, 239, 0.5);
  border-radius: 1rem;
}
.contacts__form-bg {
  width: 120%;
  max-width: unset;
  position: absolute;
  bottom: 0;
  transform: translate(10%, 20%);
  opacity: 0.15;
}
.franchise-contact__form {
  padding: 4rem;
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 1.5rem;

  .parsley-errors-list.filled {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--soft-red);
  }

  @include breakpoint(mobile) {
    padding: 2.4rem;
    grid-gap: 2rem;
  }
}
.contacts__form-heading {
  padding-bottom: 1rem;
  font-family: var(--jost);
  font-style: italic;
  font-weight: 900;
  font-size: 2.6rem;
  line-height: 123%;
  text-transform: uppercase;
  color: var(--primary-color);

  @include breakpoint(mobile) {
    font-size: 2.2rem;
  }
}
.franchise-contact__form-input {
  height: 6rem;
  padding: 0 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(18, 35, 77, 0.2);

  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 143%;
  color: var(--primary-color);
  
  @include placeholder {
    opacity: 0.6;
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    height: 5rem;
  }
}

textarea.franchise-contact__form-input {
  height: 10rem;
  padding: 1.4rem 2rem;
}

.franchise-contact__form-checkbox {
  max-width: 90%;
  display: flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--primary-color);

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

.franchise-contact__form-checkbox-input {
  @include visuallyHidden();
}

.franchise-contact__form-checkbox-mark {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  flex-shrink: 0;
  border: 1px solid #12214D;
  border-radius: 50%;
  margin-right: 1.4rem;
  cursor: pointer;
  transition: background-color 0.2s;
  opacity: 0.4;
  

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 43%;
    height: 43%;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: opacity 0.2s;
    opacity: 0;

    @include breakpoint(mobile) {
      width: 50%;
      height: 50%;
    }
  }
}

.franchise-contact__form-checkbox-text {
  opacity: 0.5;
}

.franchise-contact__form-checkbox-input:checked ~ .franchise-contact__form-checkbox-mark::before {
  opacity: 1;
}
.form__submit {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: .5rem;

  & .link--button__text {
    width: 100%;
  }
}