.gallery-reviews {

}
.gallery-reviews__container {
  padding-top: 10rem;
  padding-bottom: 5.4rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
      "header-gal header-gal header-rev"
      "grid-gal grid-gal grid-rev"
      "link-gal link-gal link-rev";

  @include breakpoint (mobile) {
    padding-top: 4rem;
    padding-bottom: 0rem;
    display: block;
  }
}
.gallery-reviews__header {
  padding-bottom: 1.2rem;
  grid-area: header-gal;
  font-family: var(--jost);
  font-style: italic;
  font-size: 4.5rem;
  line-height: 144%;
  text-transform: uppercase;
  color: var(--primary-color);

  @include breakpoint (mobile) {
    font-size: 2.6rem;
  }
}

.gallery__grid {
  grid-area: grid-gal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 28rem;
  grid-gap: 3rem;

  @include breakpoint (mobile) {
    grid-template-columns: 1fr;
    grid-auto-rows: 22.4rem;
  }
}
.gallery__item {
  padding: 2.6rem 3.4rem 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #C4C4C4;
  border-radius: 1rem;
  overflow: hidden;

  & .play-button__cirlce {
    animation-name: none;
  }
  &:hover .play-button__triangle {
    transform: scale(1.3);
  }
}
.gallery__item-bg {
  @include objectFitCover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.35s ease-in-out;

  .gallery__item:hover & {
    transform: scale(1.05);
  }
}
.gallery__item-info-label {
  position: relative;
}
.gallery__item-info-labelContent {
  padding: 0.2rem 1rem;
  display: inline-block;
  font-family: var(--nunito);
  font-size: 1.1rem;
  line-height: 200%;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(18, 33, 77, 0.4);
  border-radius: 0.6rem;
}
.gallery__item-contentContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.gallery__item-content {
  max-width: 50%;
}
.gallery__item-date {
  margin-top: auto;
  font-family: var(--nunito);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--white);
}
.gallery__item-header {
  font-family: var(--jost);
  font-style: italic;
  font-size: 2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--white);

  @include breakpoint (mobile) {
    font-size: 1.6rem;
  }
}
.gallery-reviews__link-container {
  padding: 2.4rem 0 5.4rem;
  text-align: right;
}
.gallery__link-container {
  grid-area: link-gal;
}
.gallery__item-play-button {
  width: 7rem;
  height: 7rem;
  flex-shrink: 0;
}
.play-button {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}
.play-button__cirlce {
  opacity: 0;
  animation: pulse-ring 2.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@keyframes pulse-ring {
  0% {
    transform: scale(.33);
    opacity: 1;
  }
  80% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.play-button__cirlce,
.play-button__triangle {
  transition: 0.25s ease-in-out;
  transform-origin: center;
}

.reviews__header,
.reviews__grid {
  padding-left: 2.5rem;

  @include breakpoint (mobile) {
    padding-left: 0;
  }
}
.reviews__header {
  grid-area: header-rev;
}
.reviews__grid {
  min-width: 0;
  grid-area: grid-rev;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint (mobile) {
    min-height: 450px;
    height: 1px;
  }
}
.reviews__slider {
  width: 100%;
  flex: 1;
}
.slider__item {
  width: 100%;
  height: 100%;
  padding: 2.6rem 3.4rem 5rem;
  position: relative;
  clip-path: url(#review-clip-path);
  
  // .swiper-slide-next & {
  //   transform: translateZ(0) translateX(8rem);
  //   transition: transform 0.3s linear;
  // }
  // .swiper-slide-prev & {
  //     transform: translateZ(0) translateX(-8rem);
  //     transition: transform 0.3s linear;
  // }
  // .swiper-slide-active & {
  //     transform: translateZ(0) translateX(0);
  //     transition: transform 0.3s linear;
  // }
}
.reviews__slider-item {
  overflow: hidden;
  
  &:hover .play-button__cirlce {
    animation-name: none;
  }
  &:hover .play-button__triangle {
    transform: scale(1.3);
  }
 }
.slider__item-bg-img {
  transition: 0.35s ease-in-out;

  .reviews__slider-item:hover & {
    transform: scale(1.05);
  }
 }
.reviews__slider-item-quotes-icon {
  width: 2rem;
  height: 1rem;
  fill: var(--white);
}
.reviews__slider-item-header {
  margin-top: 1.7rem;
  font-family: var(--jost);
  font-style: italic;
  font-weight: 900;
  font-size: 1.9rem;
  line-height: 142%;  text-transform: uppercase;
  color: var(--white);

  @include breakpoint (mobile) {
    font-size: 1.6rem;
  }
}
.reviews__slider-item-author-link {
  padding-top: 3.4rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 129%;
  opacity: 0.7;
  transition: 0.15s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    transition: 0s;
    opacity: 0.7;
  }
}
.reviews__slider-item-author-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1.2rem;
  vertical-align: middle;
  fill: var(--white);
}
.reviews__slider-item-author-name {
  color: var(--white);
}
.reviews__slider-item-video-play-button {
  width: 10.6rem;
  height: 10.6rem;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-40%);

  @include breakpoint (mobile) {
    width: 6.6rem;
    height: 6.6rem;
    transform: translateY(-80%);
  }
}
.reviews__slider-nav-buttons-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}
.reviews__link-container {
  grid-area: link-rev;
}