.slider__item.grid-reviews__item {
  width: calc((100% - 3rem*3)/3);
  height: 54rem;
  margin: 1.5rem;
  opacity: 1;
  visibility: visible;

  @include breakpoint(mobile) {
    width: 100%;
    height: 42rem;
    margin: .5rem 0;
  }
}
.grid-catalog__form-container {
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding: 5rem 12rem 5rem 8rem;
  position: relative;
  background-color: var(--gray-blue);
  border-radius: 10px;

  @include breakpoint(mobile) {
    margin-top: 2rem;
    margin-bottom: -4rem;
    padding: 3rem 2rem;
  }
}
.grid-catalog__form-wrapper {
  justify-content: space-between;
}
.blog__form-header.grid-catalog__form-header {
  max-width: unset;
  font-size: 2.8rem;
  line-height: 136%;

  @include breakpoint(mobile) {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    line-height: 160%;
  }
}
.blog__form-input.grid-catalog__form-input {
  width: 54rem;

  @include breakpoint (mobile) {
    width: 100%;
  }
}
.grid-catalog__form-bg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.grid-catalog__form-bg {
  width: 52%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12%, -42%);

  @include breakpoint (mobile) {
    max-width: unset;
    width: 205%;
  }
}