.search-tours-form__container {
  position: relative;
  z-index: 1;
}
.search-tours-form__wrapper {
  position: relative;
}
.search-tours-form {
  width: 100%;
  height: 9rem;
  padding: 0 14.4rem 0 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background-color: var(--white);
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.09);

  @include breakpoint (mobile) {
    height: auto;
    margin-bottom: 3rem;
    padding: 1rem 0;
    position: relative;
    flex-direction: column;
    transform: none;
    border-radius: 1rem;
  }
}
.search-tours-form__group {
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint (mobile) {
    width: 100%;
    padding: 2rem 0 0;
  }

  &:after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);
    opacity: 0.15;
  }
}
.search-tours-form__submit {
  width: 6.2rem;
  height: 6.2rem;
  position: absolute;
  right: 2rem;
  border-radius: 50%;
  background-color: var(--blue);
  transition: 0.15s ease-in-out;

  @include breakpoint (mobile) {
    margin: 4rem 0 2rem;
    position: relative;
    right: auto;
  }

  &:hover {
    background-color: var(--soft-red);
  }

  &:active {
    opacity: 0.6;
  }
}
.search-tours-form__submit-icon {
  width: 1.87rem;
  height: 1.87rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: var(--white);
}
.search-tours-form__label {
  margin-left: 6rem;
  padding-bottom: 0.3rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--primary-color);
}
.search-tours-form__input-placeholder {
  padding-left: 6rem;
  position: absolute;
  bottom: 0;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 137%;
  color: #E5E5E5;
  pointer-events: none;
  user-select: none;
  transition: 0.15s ease-in-out;
}
.search-tours-form__input-placeholder--hidden {
  opacity: 0;
  transition: 0s;
}
.search-tours-form__input {

}
.search-tours-form__select-input-layout {
  position: relative;
}
.search-tours-form__input--select {
  margin: 0;
}
.search-tours-form__input--select-inner {
  min-height: auto;
  background-color: unset;
  border: none;

  .choices.search-tours-form__input--select & {
    padding: 0 4rem 0 6rem;
  }
}
.search-tours-form__input-icon {
  width: 1.2rem;
  height: 0.6rem;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2.7rem;
  transition: 0.25s ease-in-out;
  fill: #B6B6B6;

  .is-open ~ & {
    transform: rotate(180deg);
  }
}
.search-tours-form__select-option-list {
  border-radius: 0 0 1rem 1rem;
  border: none;

  &.choices__list--single {
    padding: 0;
  }

  &.choices__list--dropdown {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.09);
  }

  .choices__list--dropdown & {
    padding-bottom: 1rem;
  }
}
.search-tours-form__select-option-list .search-tours-form__select-option {
  font-family: var(--nunito);
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 130%;
  color: var(--blue);
  background-color: unset !important;

  .choices__list--single & {
    padding: 0;
  }
  .choices__list--dropdown & {
    padding: 1.2rem 1rem 1.2rem 6rem;

    &:hover {
      color: var(--soft-red);
    }
  }
}
.choices::after {
  display: none;
}

.daterangepicker {
  margin: 0;
  padding: 3rem 4rem 2.4rem;
  border: none;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.09);

  @include breakpoint (mobile) {
    width: auto;
    padding: 3rem 0 2.4rem;
    left: max(env(safe-area-inset-left,1.4rem),var(--content-padding)) !important;
    right: max(env(safe-area-inset-left,1.4rem),var(--content-padding)) !important;
    text-align: center;
  }

  &::before,
  &::after {
    display: none;
  }
}
.daterangepicker .drp-calendar {

  &.left {
    padding-right: 2rem;
  }

  &.right {
    padding-left: 2rem;
  }

  @include breakpoint (mobile) {
    display: inline-block !important;
    float: none !important;
    padding: 0 !important;
  }
}
.daterangepicker.show-calendar .drp-buttons {
  padding: 2rem 0 0;
  display: flex;
  justify-content: space-between;

  @include breakpoint (mobile) {
    padding: 2rem 2rem 0;
  }
}
.drp-buttons .drp-selected {
  display: none;
}
.search-tours-form__date-button {
  position: relative;
  display: flex;
  align-items: center;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 137%;
  color: var(--primary-color);
  opacity: 0.4;

  &:hover, &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}
.search-tours-form__date-button--cancel {
  &::before {
    content: " ";
    width: 1.2rem;
    height: 1px;
    margin-right: 0.6rem;
    background-color: var(--primary-color);
    transform: rotate(45deg);
  }

  &::after {
    content: " ";
    width: 1.2rem;
    height: 1px;
    position: absolute;
    background-color: var(--primary-color);
    transform: rotate(-45deg);
  }
}
.search-tours-form__date-button--apply {
  opacity: 1;
  color: #79A61C;

  &:hover, &:focus {
    color: var(--primary-color);
  }

  &:active {
    color: #79A61C;
  }
}
.daterangepicker .calendar-table td, .daterangepicker .calendar-table th {
  width: 2.9rem;
  min-width: unset;
  height: 2.7rem;
}
.daterangepicker thead tr:nth-child(2) th {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 137%;
  color: var(--primary-color);
  opacity: 0.2;
}
.daterangepicker .calendar-table td {
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 137%;
  color: var(--primary-color);
  border-radius: 0.1rem;

  &.disabled {
    text-decoration: unset;
    opacity: 0.5;
  }

  &.in-range {
    background-color: rgba(234, 116, 100, 0.08);
  }

  &.active {
    background-color: var(--soft-red);
    color: var(--white);
  }

  &.ends {
    visibility: hidden;
    // opacity: 0.1;
    // background-color: unset;
    // color: var(--primary-color);
  }
}
.daterangepicker .calendar-table .prev,
.daterangepicker .calendar-table .next {

  & span {
    border-color: var(--blue);
    border-width: 0 0.1rem 0.1rem 0;
    opacity: 0.5;
  }
}
.daterangepicker thead .month {
  font-family: var(--nunito);
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 137%;
  color: var(--blue);
}

.search-tours-form__input--date-range {
  margin-left: 2rem;
  padding-left: 4rem;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 137%;
  color: var(--blue);
}