.slider__item-back-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
}
.slider__item-bg-img-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slider__item-bg-img,
.slider__item-bg-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include objectFitCover;
}
.slider__item-bg-img {
  @include objectFitCover;
  transition: 0.35s ease-in-out;
}
.slider__item-bg-gradient {
  background: linear-gradient(180deg, rgba(18, 33, 77, 0) 47.31%, rgba(18, 33, 77, 0.68) 81.87%);
}
.slider__item-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.slider__nav-button {
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  &:hover {
    .slider__nav-button-bg {
      background-color: var(--soft-red);
    }
    .slider__nav-button-icon {
      fill: var(--white);
    }
  }

  &:active {
    opacity: 0.6;
  }

  &.swiper-button-disabled:hover,
  &.button-disabled:hover {
    opacity: 0.2;
  }
}
.slider__nav-button--prev {
  margin-right: 1rem;
}
.slider__nav-button-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EBF2FB;
  transition: 0.15s ease-in-out;
}
.slider__nav-button-icon {
  width: 20%;
  height: 40%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #3C81D2;
  transition: 0.15s ease-in-out;

  .slider__nav-button--prev & {
    transform: rotate(180deg);
  }
}